<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/default}">
    <!-- 사용자 정의 title -->
    <th:block layout:fragment="customTitle">
        <title th:text="${title}"></title>
    </th:block>

	<!-- 사용자 정의 Css -->
	<th:block layout:fragment="customCss">
		<!-- iCheck -->
		<link th:href="@{/vendors/iCheck/skins/flat/green.css}" rel="stylesheet">
	</th:block>
	<!-- 사용자 정의 JsScript 파일-->
	<th:block layout:fragment="customJsScript">
		<!-- iCheck -->
    	<script th:src="@{/vendors/iCheck/icheck.min.js}"></script>`
	</th:block>
	<!-- 사용자 정의 Script-->
	<th:block layout:fragment="customScript">

	</th:block>	
	   
    <th:block layout:fragment="customContents">
     <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Table design <small>Custom design</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Settings 1</a>
                            <a class="dropdown-item" href="#">Settings 2</a>
                          </div>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>

                  <div class="x_content">

                    <p>Add class <code>bulk_action</code> to table for bulk actions options on row select</p>

                    <div class="table-responsive">
                      <table class="table table-striped jambo_table bulk_action">
                        <thead>
                          <tr class="headings">
                            <th>
                              <input type="checkbox" id="check-all" class="flat">
                            </th>
                            <th class="column-title">공지 번호 </th>
                            <th class="column-title no-link last"><span class="nobr">공지 제목</span></th>
                            <th class="column-title">작성자 </th>
                            <th class="column-title">작성날짜 </th>
                            <th class="column-title">조회수 </th>
                            <th class="column-title">수정 </th>
                            <th class="column-title">삭제 </th>
                            <th class="bulk-actions" colspan="7">
                              <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                            </th>
                          </tr>
                        </thead>

                        <tbody>
                          <tr class="even pointer">
                            <td class="a-center ">
                              <input type="checkbox" class="flat" name="table_records">
                            </td>
                            <td class=" ">121000040</td>
                            <td class=" last"><a href="#">푸드리퍼브 상품 구매 공지 사항 입니다</a></td>
                            <td class=" ">관리자</td>
                            <td class=" ">May 23, 2014 11:47:56 PM </td>
                            <td class=" ">121000208 <i class="success fa fa-long-arrow-up"></i></td>
                            <td><a th:href="@{/noticeboard/modifyNotice}"><button type="button" class="btn btn-outline-primary btn-sm">수정</button></a></td>    
							<td><button type="button" data-toggle="modal" data-target="#exampleModal" class="btn btn-outline-primary btn-sm">삭제</button></td>
                          </tr>
                          <tr th:if="${not #lists.isEmpty(noticeBoardList)}" th:each="l : ${noticeBoardList}">
                          <td class="a-center ">
                              <input type="checkbox" class="flat" name="table_records">
                            </td>
							<td th:text="${l.noticeNum}"></td>
							<td><a th:href="@{/noticeboard/detailNotice(noticeNum=${l.noticeNum})}"
								   th:text="${l.noticeTitle}"></a></td>
							<td th:text="${l.member.memberId}"></td>
							<td th:text="${l.noticeDate}"></td>
							<td th:text="${l.noticeHit}"></td>
							<td><a th:href="@{/noticeboard/modifyNotice(noticeNum=${l.noticeNum})}" class="btn btn-outline-primary btn-sm">수정</a></td>    
							<td><button type="button" data-toggle="modal" data-target="#exampleModal" class="btn btn-outline-primary btn-sm">삭제</button></td>
						</tr>
                        </tbody>
                      </table>
                    </div>
                    <nav aria-label="Page navigation example" >
						<ul class="pagination justify-content-center">
							<li class="page-item disabled"><a class="page-link">Previous</a>
							</li>
							<li class="page-item"><a class="page-link" href="#">1</a></li>
							<li class="page-item"><a class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
							<li class="page-item"><a class="page-link" href="#">Next</a>
							</li>
						</ul>
					</nav>
                   
                   <!-- Modal -->
					<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title" id="exampleModalLabel">게시물 삭제</h5>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          <span aria-hidden="true">&times;</span>
					        </button>
					      </div>
					      <div class="modal-body">
					        게시물을 정말 삭제하시겠습니까?
					      </div>
					      <div class="modal-footer">
					       	<button type="button" class="btn btn-secondary" data-dismiss="modal">취소하기</button>
					      	<a th:href="@{/noticeboard/removeNotice}"><button type="button" class="btn btn-danger">삭제하기</button></a>
					      </div>
					    </div>
					  </div>
					</div>
                     <!-- Modal -->
                   <a th:href="@{/noticeboard/addNotice}"><button type="button" class="btn btn-outline-primary btn-sm float-right">글쓰기</button></a>
                   </div>
                  </div>
                 </div>
    </th:block>
</html>