<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">
	<!-- 사용자 정의 title -->
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>
	<th:block layout:fragment="customContents">
	<div class="container">
	    <form id="addDonorGoodsForm" th:action="@{donations/modifyDonorGoods}" method="post">
	        <div class="form-group row">
	            <label for="DonorTitle" class="col-sm-2 col-form-label"><strong>기증자 아이디</strong></label>
	            <div class="col-sm-10">
	                <input type="text" name="memberId" class="memberId" th:value="${session.SID}" readonly="readonly">
	            </div>
	        </div>
	        <div class="form-group row">
	            <label for="DonorAuthor" class="col-sm-2 col-form-label"><strong>사업장 연락처</strong></label>
	            <div class="col-sm-10">
	                <input type="text" name="sellerStorePhone" class="sellerStorePhone" readonly="readonly">
	            </div>
	        </div>
	        <div class="form-group row">
	            <label for="DonorContent" class="col-sm-2 col-form-label"><strong>기부 상품명</strong></label>
	            <div class="col-sm-10">
	                <input type="text" name="goodsDonationName" class="goodsDonationName">
	            </div>
	        </div>
	        <div class="form-group row">
	            <label for="DonorContent" class="col-sm-2 col-form-label"><strong>기부 내용</strong></label>
	            <div class="col-sm-10">
	                <textarea type="text" name="donationContent" class="donationContent"></textarea>
	            </div>
	        </div>
	        <div class="form-group row">
	            <label for="DonorContent" class="col-sm-2 col-form-label"><strong>기부 상품갯수</strong></label>
	            <div class="col-sm-10">
	                <input type="text" name="goodsDonationCount" class="goodsDonationCount">
	            </div>
	        </div>
	        <div class="form-group row">
	            <label for="DonorContent" class="col-sm-2 col-form-label"><strong>기부 상품 배송 방법</strong></label>
	            <div class="col-sm-10">
	                <input type="text" name="goodsDonationDeliveryWay" class="goodsDonationDeliveryWay">
	            </div>
	        </div>
	        <div class="form-group row">
	            <label for="DonorFile" class="col-sm-2 col-form-label"><strong>첨부 파일</strong></label>
	            <div class="col-sm-10">
	                <div class="DonorGoods" id="DonorGoods">
	                    <input name="DonorGoods" type="file" class="goodsDonationImg">
	                    <label class="addDonorGoodsLabel" for="DonorGoods">파일을 선택해 주세요.</label>
	                </div>
	            </div>
	        </div>
	        <fieldset>
				<input name="addDonorGoodsBtn" class="addDonorGoodsBtn" required="required" type="text" style='display:none' />
			</fieldset>
			<a href="/" role="button" class="btn btn-secondary">취소</a>
				<button type="button" class="btn btn-primary" id="btn-update">수정</button>
			<button type='submit'>수정</button>
            <button type="submit">취소</button>
	    </form>
	</div>
	</th:block>
	
</html>