<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
	<!-- 사용자 정의 title -->
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>
	
	
	
	<!-- 사용자 정의 Css -->
	<th:block layout:fragment="customCss">
		<!-- iCheck -->
		<link th:href="@{/vendors/iCheck/skins/flat/green.css}"
			rel="stylesheet">
		<!-- bootstrap-wysiwyg -->
		<link th:href="@{/vendors/google-code-prettify/bin/prettify.min.css}"
			rel="stylesheet">
		<!-- Select2 -->
		<link th:href="@{/vendors/select2/dist/css/select2.min.css}"
			rel="stylesheet">
		<!-- Switchery -->
		<link th:href="@{/vendors/switchery/dist/switchery.min.css}"
			rel="stylesheet">
		<!-- starrr -->
		<link th:href="@{/vendors/starrr/dist/starrr.css}" rel="stylesheet">
		<!-- bootstrap-daterangepicker -->
		<link th:href="@{/vendors/bootstrap-daterangepicker/daterangepicker.css}" rel="stylesheet">
		
	</th:block>
	
	<!-- 사용자 정의 JsScript 파일-->
	<th:block layout:fragment="customJsScript">
		<!-- bootstrap-progressbar -->
		<script th:src="@{/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js}"></script>
		<!-- iCheck -->
		<script th:src="@{/vendors/iCheck/icheck.min.js}"></script>
		<!-- bootstrap-daterangepicker -->
		<script th:src="@{/vendors/moment/min/moment.min.js}"></script>
		<script th:src="@{/vendors/bootstrap-daterangepicker/daterangepicker.js}"></script>
		<!-- bootstrap-wysiwyg -->
		<script th:src="@{/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js}"></script>
		<script th:src="@{/vendors/jquery.hotkeys/jquery.hotkeys.js}"></script>
		<script th:src="@{/vendors/google-code-prettify/src/prettify.js}"></script>
		<!-- jQuery Tags Input -->
		<script th:src="@{/vendors/jquery.tagsinput/src/jquery.tagsinput.js}"></script>
		<!-- Switchery -->
		<script th:src="@{/vendors/switchery/dist/switchery.min.js}"></script>
		<!-- Select2 -->
		<script th:src="@{/vendors/select2/dist/js/select2.full.min.js}"></script>
		<!-- Parsley -->
		<script th:src="@{/vendors/parsleyjs/dist/parsley.min.js}"></script>
		<!-- Autosize -->
		<script th:src="@{/vendors/autosize/dist/autosize.min.js}"></script>
		<!-- jQuery autocomplete -->
		<script th:src="@{/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js}"></script>
		<!-- starrr -->
		<script th:src="@{/vendors/starrr/dist/starrr.js}"></script>
	</th:block>
	
	<!-- 사용자 정의 Script-->
	<th:block layout:fragment="customScript">
		<script>
	
		
		/* 	유효성 검사 수정 필요! */
			$(function(){
				
				function validationCheck(data){
					if(typeof data == 'undefined' || data == '' || data == null){
						return false;
					}
					return true;
				}
				
				$('#addGoodsBtn').click(function(){
					var isSubmit = true;
					var inputObj = $('#addGoodsForm').find('input');
					/* var inputObj2 = $('#addGoodsForm').find('textarea'); */
					
					$.each(inputObj, function(){
						var inputData = $(this).val();
						var result = validationCheck(inputData);
						
						// 사용자가 입력하지 않은 경우
						if(!result){
							alert('필수 항목입니다. 입력해주세요');
							$(this).focus();
							isSubmit = false;
							return false;
						}
						
						
					});
					if($("input:radio[name=refurbOrganic]:checked").length < 1){
					    alert('유기농 여부를 선택해주세요.');
					    return false;
					}
					
					if(isSubmit) $('#addGoodsForm').submit();
				});
			});
				
		
		</script>
	</th:block>
	
	
	
	
	<th:block layout:fragment="customContents">
	
		<div class="col-md-12 col-sm-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>
						리퍼브 상품 상세 정보<small>Food refurb detail info</small>
					</h2>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<br />
									<!-- th:action="@{/goods/addGoods}" method="post" -->
					<form class="form-horizontal form-label-left" id="addGoodsForm">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th scope="col" style="width: 15%;">#</th>
									<th scope="col">리퍼브 상품 등록 관리</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">상품 정보</th>
									<td>
										<div class="form-group row">
											<div class="col-md-2 col-sm-2">
												<label class="control-label" for="goodsRefurbName">상품명</label>
											</div>
											<div class="col-md-8 col-sm-8 ">
												<input type="text" class="form-control" id="goodsRefurbName" name="goodsRefurbName">
											</div>
										</div>
										<div class="form-group row">
											<div class="col-md-2 col-sm-2">
												<label class="control-label" for="goodsRefurbPrice">판매 가격</label>
											</div>
											<div class="col-md-8 col-sm-8 ">
												<input type="number" class="form-control" id="goodsRefurbPrice" name="goodsRefurbPrice">
											</div>
										</div>
										<div class="form-group row">
											<div class="col-md-2 col-sm-2">
												<label class="control-label" for="goodsNomalPrice">일반 가격</label>
											</div>
											<div class="col-md-8 col-sm-8 ">
												<input type="number" class="form-control" id="goodsNomalPrice" name="goodsNomalPrice">
											</div>
										</div>
										
										<div class="form-group row">
											<div class="col-md-2 col-sm-2">
												<label class="control-label" for="goodsRefurbCount">상품 수량</label>
											</div>
											<div class="col-md-8 col-sm-8 ">
												<input type="number" class="form-control" id="goodsRefurbCount" name="goodsRefurbCount">
											</div>
										</div>
										
										<div class="form-group row">
											<div class="col-md-2 col-sm-2">
												<label class="control-label" for="goodsRefurbHarvestDate">상품 수확일</label>
											</div>
											<div class="col-md-8 col-sm-8">
												<input type="date" class="form-control" id="goodsRefurbHarvestDate" name="goodsRefurbHarvestDate">
											</div>
										</div>
	
										<div class="form-group row">
											<div class="col-md-2 col-sm-2">
												<label class="control-label" for="goodsPostExplain">상품 설명</label>
											</div>
											<div class="col-md-8 col-sm-8">
												<textarea class="form-control" rows="3" id="goodsPostExplain" name="goodsPostExplain"></textarea>
											</div>
										</div>
	
										<div class="form-group row">
											<div class="col-md-2 col-sm-2">
												<label class="control-label" for="goodsLargeCate">대분류</label>
											</div>
											<div class="col-md-8 col-sm-8 ">
												<select class="form-control" id="goodsLargeCate" name="goodsLargeCate">
													<option>:: 대 분 류 선 택 ::</option>
													<th:block th:if="${not #lists.isEmpty(largeCateList)}" th:each="l : ${largeCateList}">
													<option th:value="${l.goodsLargeCate}">[[${l.goodsLarge.goodsLargeName}]]</option>
													</th:block>
												</select>
											</div>
										</div>
	
										<div class="form-group row">
											<div class="col-md-2 col-sm-2">
												<label class="control-label" for="goodsSmallCate">소분류</label>
											</div>
											<div class="col-md-8 col-sm-8 ">
												<select class="form-control" id="goodsSmallCate" name="goodsSmallCate">
													<option>:: 소 분 류 선 택 ::</option>
													<option>Option one</option>
													<option>Option two</option>
												</select>
											</div>
										</div>
										
										<div class="form-group row">
											<div class="col-md-2 col-sm-2">
												<label class="control-label" for="goodsRefurbOrganic">유기농 여부</label>
											</div>
											<div class="col-md-10 col-sm-10 align-self-center" id="goodsRefurbOrganic">
												<div class="radio form-check form-check-inline">
													<label class="form-check-label" for="organic">
														<input type="radio" class="flat" name="refurbOrganic" id="organic" value="1"> 유기농 O
													</label>
												</div>
												<div class="radio form-check form-check-inline">
													<label class="form-check-label" for="nonOrganic"> 
														<input type="radio" class="flat" name="refurbOrganic" id="nonOrganic" value="0"> 유기농 X
													</label>
												</div>
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">상품 사진</th>
									<td>
										<div class="form-group row">
											<div class="col-md-2 col-sm-2">
												<label class="control-label">상품 사진</label>
											</div>
											<div class="col-md-3 col-sm-3">
												<img th:src="@{/img/exOrange.jpg}" class="img-fluid" alt="Responsive image">
											</div>
											<div class="col-md-6 col-sm-6 ">
												<input type="file">
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="ln_solid"></div>
						<div class="form-group">
							<div class="col-md-8 col-sm-8  offset-md-4">
								<button type="button" class="btn btn-primary">취소</button>
								<button type="button" class="btn btn-success" id="addGoodsBtn">등록</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	
	</th:block>
</html>