<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
	<!-- 사용자 정의 title -->
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>

	<!-- 사용자 정의 Css -->
	<th:block layout:fragment="customCss">
		<!-- iCheck -->
		<link th:href="@{/vendors/iCheck/skins/flat/green.css}" rel="stylesheet">
	</th:block>
	<!-- 사용자 정의 JsScript 파일-->
	<th:block layout:fragment="customJsScript">
		<!-- iCheck -->
    	<script th:src="@{/vendors/iCheck/icheck.min.js}"></script>
	</th:block>
	<!-- 사용자 정의 Script-->
	<th:block layout:fragment="customScript">
	
	</th:block>	
	
	
	<th:block layout:fragment="customContents">
		<div class="col-md-12 col-sm-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>
						상품 카테고리 목록<small>Goods cate list</small>
					</h2>
					<div class="clearfix"></div>
				</div>
	
				<div class="x_content">

			<p>
				Add class
				<code>bulk_action</code>
				to table for bulk actions options on row select
			</p>
			
			<!-- START : 검색 바  -->
			<div th:include="goods/searchCate :: searchGoodsCateFragment"></div><br>
			<!-- END : 검색 바  -->
			

				<div class="table-responsive">
				
					<div class="clearfix">
						<div class="float-left">
							Total : <span></span>
						</div>
						<div class="float-right pr-2">
								<button class="btn btn-danger btn-sm">선택 삭제</button>
						</div>
					</div>
					
					<table class="table text-center jambo_table bulk_action">
						<thead>
							<tr class="headings">
								<th>
									<input type="checkbox" id="check-all" class="flat">
								</th>
								<th class="column-title">대분류 번호</th>
								<th class="column-title">소분류 번호</th>
								<th class="column-title">대분류</th>
								<th class="column-title">소분류</th>
								<th class="column-title">등록 날짜</th>
                            	<th class="column-title">수정</th>
								<th class="column-title">삭제</th>
								<th class="bulk-actions" colspan="7"><a class="antoo"
									style="color: #fff; font-weight: 500;">Bulk Actions ( <span
										class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
								</th>
							</tr>
						</thead>

						<tbody>
							<tr class="even pointer" th:if="${not #lists.isEmpty(goodsCateList)}" th:each="l : ${goodsCateList}">
								<td class="a-center ">
									<input type="checkbox" class="flat" name="table_records">
								</td>
								<td th:text="${l.goodsLargeCate}"></td>
								<td th:text="${l.goodsSmallCate}"></td>
								<td th:text="${l.goodsLarge.goodsLargeName}"></td>
								<td th:text="${l.goodsSmallName}"></td>
								<td th:text="${l.entryTime}"></td>
								<td class=" ">
	                         		<!-- /goods/modifyGoodsCate?goodsSmallCate=goods_small_cate_1 -->
	                            	<a th:href="@{/goods/modifyGoodsCate(goodsSmallCate=${l.goodsSmallCate})}">
	                            		<input type="button" value="수정">
	                            	</a>
	                            </td>
	                            <td class=" ">
	                            	<a th:href="@{/goods/removeGoodsCate}">
	                            		<input type="button" value="삭제">
	                            	</a>
	                            </td>
							</tr>
						</tbody>
					</table>

					<nav aria-label="Page navigation example">
						<ul class="pagination justify-content-center">
							<li class="page-item disabled"><a class="page-link">Previous</a>
							</li>
							<li class="page-item"><a class="page-link" href="#">1</a></li>
							<li class="page-item"><a class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
							<li class="page-item"><a class="page-link" href="#">Next</a>
							</li>
						</ul>
					</nav>
				</div>


			</div>
		</div>
	</div>

	</th:block>
</html>