<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
	<!-- 사용자 정의 title -->
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>

	<!-- 사용자 정의 Css -->
	<th:block layout:fragment="customCss">
		<!-- iCheck -->
		<link th:href="@{/vendors/iCheck/skins/flat/green.css}" rel="stylesheet">
	</th:block>
	<!-- 사용자 정의 JsScript 파일-->
	<th:block layout:fragment="customJsScript">
		<!-- iCheck -->
    	<script th:src="@{/vendors/iCheck/icheck.min.js}"></script>
	</th:block>
	<!-- 사용자 정의 Script-->
	<th:block layout:fragment="customScript">
	
	</th:block>	
	
	<th:block layout:fragment="customContents">
		<div class="col-md-12 col-sm-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Food Refurb List<small>Custom design</small></h2>
                    <div class="clearfix"></div>
                  </div>

                  <div class="x_content">

                    <p>Add class <code>bulk_action</code> to table for bulk actions options on row select</p>
					
					<!-- START : 검색 바 -->
					<div th:include="goods/searchGoods :: searchGoodsFragment"></div><br>
					<!-- END : 검색 바 -->
						
                    <div class="table-responsive">
                      <table class="table jambo_table bulk_action">
                        <thead>
                          <tr class="headings">
                            <th>
                              <input type="checkbox" id="check-all" class="flat">
                            </th>
                            <th class="column-title">상품 번호 </th>
                            <th class="column-title">아이디</th>
                            <th class="column-title">카테고리 </th>
                            <th class="column-title">상품명 </th>
                            <th class="column-title">가격 </th>
                            <th class="column-title">등록시각 </th>
                            <th class="column-title">수정 </th>
                            <th class="column-title">삭제 </th>
                            <th class="bulk-actions" colspan="7">
                              <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                            </th>
                          </tr>
                        </thead>

                        <tbody>
                          <tr class="even pointer">
                            <td class="a-center ">
                              <input type="checkbox" class="flat" name="table_records">
                            </td>
                            <td class=" ">121000040</td>
                            <td class=" ">id005</td>
                            <td class=" ">감자-알감자</td>
                            <td class=" ">해남 감자</td>
                            <td class=" ">20,000</td>
                            <td class=" ">2022/02/01</td>
                       		<td class=" "><input type="button" value="수정"></td>
							<td class=" "><input type="button" value="삭제"></td>
                          </tr>
                          <tr class="odd pointer">
                            <td class="a-center ">
                              <input type="checkbox" class="flat" name="table_records">
                            </td>
                            <td class=" ">121000040</td>
                            <td class=" ">id005</td>
                            <td class=" ">감자-알감자</td>
                            <td class=" ">해남 감자</td>
                            <td class=" ">20,000</td>
                            <td class=" ">2022/02/01</td>
                       		<td class=" "><input type="button" value="수정"></td>
							<td class=" "><input type="button" value="삭제"></td>
                          </tr>
                          <tr class="even pointer">
                            <td class="a-center ">
                              <input type="checkbox" class="flat" name="table_records">
                            </td>
                            <td class=" ">121000040</td>
                            <td class=" ">id005</td>
                            <td class=" ">감자-알감자</td>
                            <td class=" ">해남 감자</td>
                            <td class=" ">20,000</td>
                            <td class=" ">2022/02/01</td>
                       		<td class=" "><input type="button" value="수정"></td>
							<td class=" "><input type="button" value="삭제"></td>
                          </tr>
                          <tr class="odd pointer">
                            <td class="a-center ">
                              <input type="checkbox" class="flat" name="table_records">
                            </td>
                            <td class=" ">121000040</td>
                            <td class=" ">id005</td>
                            <td class=" ">감자-알감자</td>
                            <td class=" ">해남 감자</td>
                            <td class=" ">20,000</td>
                            <td class=" ">2022/02/01</td>
                       		<td class=" "><input type="button" value="수정"></td>
							<td class=" "><input type="button" value="삭제"></td>
                          </tr>
                          <tr class="even pointer">
                            <td class="a-center ">
                              <input type="checkbox" class="flat" name="table_records">
                            </td>
                            <td class=" ">121000040</td>
                            <td class=" ">id005</td>
                            <td class=" ">감자-알감자</td>
                            <td class=" ">해남 감자</td>
                            <td class=" ">20,000</td>
                            <td class=" ">2022/02/01</td>
                       		<td class=" "><input type="button" value="수정"></td>
							<td class=" "><input type="button" value="삭제"></td>
                          </tr>
                          <tr class="odd pointer">
                            <td class="a-center ">
                              <input type="checkbox" class="flat" name="table_records">
                            </td>
                             <td class=" ">121000040</td>
                            <td class=" ">id005</td>
                            <td class=" ">감자-알감자</td>
                            <td class=" ">해남 감자</td>
                            <td class=" ">20,000</td>
                            <td class=" ">2022/02/01</td>
                       		<td class=" "><input type="button" value="수정"></td>
							<td class=" "><input type="button" value="삭제"></td>
                          </tr>
                          <tr class="even pointer">
                            <td class="a-center ">
                              <input type="checkbox" class="flat" name="table_records">
                            </td>
                            <td class=" ">121000040</td>
                            <td class=" ">id005</td>
                            <td class=" ">감자-알감자</td>
                            <td class=" ">해남 감자</td>
                            <td class=" ">20,000</td>
                            <td class=" ">2022/02/01</td>
                       		<td class=" "><input type="button" value="수정"></td>
							<td class=" "><input type="button" value="삭제"></td>
                          </tr>
                          <tr class="odd pointer">
                            <td class="a-center ">
                              <input type="checkbox" class="flat" name="table_records">
                            </td>
                             <td class=" ">121000040</td>
                            <td class=" ">id005</td>
                            <td class=" ">감자-알감자</td>
                            <td class=" ">해남 감자</td>
                            <td class=" ">20,000</td>
                            <td class=" ">2022/02/01</td>
                       		<td class=" "><input type="button" value="수정"></td>
							<td class=" "><input type="button" value="삭제"></td>
                          </tr>

                          <tr class="even pointer">
                            <td class="a-center ">
                              <input type="checkbox" class="flat" name="table_records">
                            </td>
                             <td class=" ">121000040</td>
                            <td class=" ">id005</td>
                            <td class=" ">구황작물-감자</td>
                            <td class=" ">해남 감자</td>
                            <td class=" ">20,000</td>
                            <td class=" ">2022/02/01</td>
                       		<td class=" "><input type="button" value="수정"></td>
							<td class=" "><input type="button" value="삭제"></td>
                          </tr>
                          <tr class="odd pointer">
                            <td class="a-center ">
                              <input type="checkbox" class="flat" name="table_records">
                            </td>
                            <td class=" ">121000040</td>
                            <td class=" ">id005</td>
                            <td class=" ">감자-알감자</td>
                            <td class=" ">해남 감자</td>
                            <td class=" ">20,000</td>
                            <td class=" ">2022/02/01</td>
                       		<td class=" "><input type="button" value="수정"></td>
							<td class=" "><input type="button" value="삭제"></td>
                          </tr>
                        </tbody>
                      </table>
                      
                      <nav aria-label="Page navigation example">
						  <ul class="pagination justify-content-center">
						    <li class="page-item disabled">
						      <a class="page-link">Previous</a>
						    </li>
						    <li class="page-item"><a class="page-link" href="#">1</a></li>
						    <li class="page-item"><a class="page-link" href="#">2</a></li>
						    <li class="page-item"><a class="page-link" href="#">3</a></li>
						    <li class="page-item">
						      <a class="page-link" href="#">Next</a>
						    </li>
						  </ul>
					</nav>
                    </div>
							
						
                  </div>
                </div>
              </div>
              
	</th:block>
</html>