<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
	<!-- 사용자 정의 title -->
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>
	
	
	
	<!-- 사용자 정의 Css -->
	<th:block layout:fragment="customCss">
		<!-- iCheck -->
		<link th:href="@{/vendors/iCheck/skins/flat/green.css}" rel="stylesheet">
		<!-- bootstrap-wysiwyg -->
		<link th:href="@{/vendors/google-code-prettify/bin/prettify.min.css}" rel="stylesheet">
		<!-- Select2 -->
		<link th:href="@{/vendors/select2/dist/css/select2.min.css}" rel="stylesheet">
		<!-- Switchery -->
		<link th:href="@{/vendors/switchery/dist/switchery.min.css}" rel="stylesheet">
		<!-- starrr -->
		<link th:href="@{/vendors/starrr/dist/starrr.css}" rel="stylesheet">
		<!-- bootstrap-daterangepicker -->
		<link th:href="@{/vendors/bootstrap-daterangepicker/daterangepicker.css}" rel="stylesheet">
		<style>
			.form-control{
			border-radius: .25rem;}
			.x_panel{
			border-radius: .25rem;}
		</style>
	</th:block>
	
	<!-- 사용자 정의 JsScript 파일-->
	<th:block layout:fragment="customJsScript">
		<!-- bootstrap-progressbar -->
		<script
			th:src="@{/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js}"></script>
		<!-- iCheck -->
		<script th:src="@{/vendors/iCheck/icheck.min.js}"></script>
		<!-- bootstrap-daterangepicker -->
		<script th:src="@{/vendors/moment/min/moment.min.js}"></script>
		<script
			th:src="@{/vendors/bootstrap-daterangepicker/daterangepicker.js}"></script>
		<!-- bootstrap-wysiwyg -->
		<script
			th:src="@{/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js}"></script>
		<script th:src="@{/vendors/jquery.hotkeys/jquery.hotkeys.js}"></script>
		<script th:src="@{/vendors/google-code-prettify/src/prettify.js}"></script>
		<!-- jQuery Tags Input -->
		<script th:src="@{/vendors/jquery.tagsinput/src/jquery.tagsinput.js}"></script>
		<!-- Switchery -->
		<script th:src="@{/vendors/switchery/dist/switchery.min.js}"></script>
		<!-- Select2 -->
		<script th:src="@{/vendors/select2/dist/js/select2.full.min.js}"></script>
		<!-- Parsley -->
		<script th:src="@{/vendors/parsleyjs/dist/parsley.min.js}"></script>
		<!-- Autosize -->
		<script th:src="@{/vendors/autosize/dist/autosize.min.js}"></script>
		<!-- jQuery autocomplete -->
		<script
			th:src="@{/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js}"></script>
		<!-- starrr -->
		<script th:src="@{/vendors/starrr/dist/starrr.js}"></script>
	</th:block>
	
	<!-- 사용자 정의 Script-->
	<th:block layout:fragment="customScript">
	</th:block>




	<th:block layout:fragment="customContents">
	
		<div class="col-md-12 col-sm-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>
						정상가 시세 등록
					</h2>
					 <div class="clearfix"></div>
				</div>
				<div class="x_content">
					<br />
					<form class="form-horizontal form-label-left">
	
											<div class="form-group row">
							<div class="col-md-3 col-sm-3">
								<label class="control-label">대분류</label>
							</div>
							<div class="col-md-9 col-sm-9 ">
								<select class="form-control">
									<option> ::  대 분 류   선 택   ::</option>
									<option>Option one</option>
									<option>Option two</option>
									<option>Option three</option>
									<option>Option four</option>
								</select>
							</div>
						</div>
						
						<div class="form-group row">
							<div class="col-md-3 col-sm-3">
								<label class="control-label">소분류</label>
							</div>
							<div class="col-md-9 col-sm-9 ">
								<select class="form-control">
									<option> ::  소 분 류   선 택   ::</option>
									<option>Option one</option>
									<option>Option two</option>
									<option>Option three</option>
									<option>Option four</option>
								</select>
							</div>
						</div>
						
						
						<div class="form-group row">
							<div class="col-md-3 col-sm-3">
								<label class="control-label">상품명</label>
							</div>
							<div class="col-md-9 col-sm-9 ">
								<input type="text" class="form-control" placeholder="Goods Name">
							</div>
						</div>

						<div class="form-group row">
							<div class="col-md-3 col-sm-3">
								<label class="control-label">상품 가격</label>
							</div>
							<div class="col-md-9 col-sm-9 ">
								<input type="number" class="form-control" placeholder="Goods Price">
							</div>
						</div>

						<div class="form-group row">
							<div class="col-md-3 col-sm-3">
								<label class="control-label">상품 수량</label>
							</div>
							<div class="col-md-9 col-sm-9 ">
								<input type="number" class="form-control" placeholder="Goods Count">
							</div>
						</div>
						
						<div class="form-group row">
							<div class="col-md-3 col-sm-3">
								<label class="control-label">정상가 시세 날짜</label>
							</div>
							<div class="col-md-9 col-sm-9 ">
								<input type="date" class="form-control">
							</div>
						</div>
						
						<div class="form-group row">
							<div class="col-md-3 col-sm-3">
								<label class="control-label">상품 설명
									<span class="required">*</span>
								</label>
							</div>
							<div class="col-md-9 col-sm-9 ">
								<textarea class="form-control" rows="3"
									placeholder="Goods Info"></textarea>
							</div>
						</div>
						

						<div class="ln_solid"></div>
						<div class="form-group">
							<div class="col-md-7 col-sm-7  offset-md-5">
								<button type="submit" class="btn btn-success">등록</button>
								<button type="reset" class="btn btn-primary">초기화</button>
								<button type="button" class="btn btn-primary">취소</button>
							</div>
						</div>
	
					</form>
				</div>
			</div>
		</div>
	
	
	
	</th:block>
</html>