<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
	<!-- 사용자 정의 title -->
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>

	<!-- 사용자 정의 Css -->
	<th:block layout:fragment="customCss">
	</th:block>
	
	<!-- 사용자 정의 JsScript 파일-->
	<th:block layout:fragment="customJsScript">
	</th:block>
	
	<!-- 사용자 정의 Script-->
	<th:block layout:fragment="customScript">
			<script type="text/javascript" th:inline="javascript">
			$(function(){
				
				function validationCheck(data){
					if(typeof data == 'undefined' || data == '' || data == null){
						return false;
					}
					return true;
				}
				
				$('#addAdPriceBtn').click(function(){
					var isSubmit = true;
					var inputObj = $('#addAdPriceForm').find('input');
					
					$.each(inputObj, function(){
						var inputData = $(this).val();
						var result = validationCheck(inputData);
						
						// 사용자가 입력하지 않은 경우
						if(!result){
							alert('필수 항목입니다. 입력해주세요');
							$(this).focus();
							isSubmit = false;
							return false;
						}
					});
					
					console.log('유효여부 폼전송할건지?' + isSubmit )
					
					if(isSubmit) $('#addAdPriceForm').submit();
				});
				
				/* 
				$('#addAdPriceBtn').click(function(){
					
					$('#addAdPriceForm').submit();
				}); */
			});
		</script>
	</th:block>

	<th:block layout:fragment="customContents">
	
		<div class="col-md-6 col-sm-6 offset-md-3">
			<div class="x_panel">
				<div class="x_title">
					<h2>
						광고 단가 등록  <small>small category form</small>
					</h2>
					 <div class="clearfix"></div>
				</div>
				<div class="x_content">
					<br />
					<form id="addAdPriceForm" class="form-horizontal form-label-left" th:action="@{/advertisement/addAdPrice}" method="post">
	
						<div class="form-group row">
							<label class="control-label col-md-3 col-sm-3">등록자 아이디</label>
							<div class="col-md-9 col-sm-9 ">
							<!-- 임의로 넣은 value="id002" 후에 로그인 세션 아이디값 가져오기 -->
								<input type="text" class="form-control" readonly="readonly"
								value="id002" placeholder="로그인 세션 아이디값 가져오기">
							</div>
						</div>
						
						<div class="form-group row">
							<label class="control-label col-md-3 col-sm-3" for="adCate">광고 종류</label>
							<div class="col-md-9 col-sm-9 ">
								<input type="text" class="form-control" placeholder="Ad Category Name" id="adCate" name="adCate">
							</div>
						</div>
						
						<div class="form-group row ">
							<label class="control-label col-md-3 col-sm-3" for="adPricePerDay">1일 광고 가격</label>
							<div class="col-md-9 col-sm-9 ">
								<input type="text" class="form-control" placeholder="Ad Price Per Day" id="adPricePerDay" name="adPricePerDay">
							</div>
						</div>
	
						<div class="ln_solid"></div>
						<div class="form-group">
							<div class="col-md-8 col-sm-8  offset-md-4">
								<button type="button" class="btn btn-primary">취소</button>
								<button type="reset" class="btn btn-primary">초기화</button>
								<button type="button" id="addAdPriceBtn" class="btn btn-success">등록</button>
							</div>
						</div>
	
					</form>
				</div>
			</div>
		</div>
	
	
	<!-- bootstrap-progressbar -->
	<script th:src="@{/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js}"></script>
	<!-- iCheck -->
	<script th:src="@{/vendors/iCheck/icheck.min.js}"></script>
	<!-- bootstrap-wysiwyg -->
	<script th:src="@{/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js}"></script>
	<script th:src="@{/vendors/jquery.hotkeys/jquery.hotkeys.js}"></script>
	<script th:src="@{/vendors/google-code-prettify/src/prettify.js}"></script>
	<!-- jQuery Tags Input -->
	<script th:src="@{/vendors/jquery.tagsinput/src/jquery.tagsinput.js}"></script>
	<!-- Switchery -->
	<script th:src="@{/vendors/switchery/dist/switchery.min.js}"></script>
	<!-- Select2 -->
	<script th:src="@{/vendors/select2/dist/js/select2.full.min.js}"></script>
	<!-- Parsley -->
	<script th:src="@{/vendors/parsleyjs/dist/parsley.min.js}"></script>
	<!-- Autosize -->
	<script th:src="@{/vendors/autosize/dist/autosize.min.js}"></script>
	<!-- jQuery autocomplete -->
	<script th:src="@{/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js}"></script>
	<!-- starrr -->
	<script th:src="@{/vendors/starrr/dist/starrr.js}"></script>

	</th:block>
</html>