<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
	<!-- 사용자 정의 title -->
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>

	<!-- 사용자 정의 Css -->
	<th:block layout:fragment="customCss">
		<!-- iCheck -->
		<link th:href="@{/vendors/iCheck/skins/flat/green.css}" rel="stylesheet">
	</th:block>
	<!-- 사용자 정의 JsScript 파일-->
	<th:block layout:fragment="customJsScript">
		<!-- iCheck -->
    	<script th:src="@{/vendors/iCheck/icheck.min.js}"></script>
	</th:block>
	<!-- 사용자 정의 Script-->
	<th:block layout:fragment="customScript">
	
	</th:block>	
	
	<th:block layout:fragment="customContents">
		<div class="col-md-10 col-sm-10 offset-md-1">
			<div class="x_panel">
				<div class="x_title">
					<h2>
						광고 단가 목록<small>Ad price list</small>
					</h2>
					<div class="clearfix"></div>
				</div>

                  <div class="x_content">

                    <p>Add class <code>bulk_action</code> to table for bulk actions options on row select</p>
						<div>
							<a th:href="@{/advertisement/addAdPrice}">
							<button type="button" class="btn btn-outline-primary btn-sm float-right">단가 등록 버튼</button>
							</a>
						</div>
					<div class="table-responsive">
						<table class="table jambo_table bulk_action text-center">
							<thead>
								<tr class="headings">
									<th>
		                              <input type="checkbox" id="check-all" class="flat">
		                            </th>
		                            <th class="column-title">광고 단가 번호</th>
									<th class="column-title">광고 종류</th>
									<th class="column-title">1일 광고 가격</th>
									<th class="column-title">등록자 아이디</th>
									<th class="column-title">등록 시각</th>
									<th class="column-title">수정</th>
									<th class="column-title">삭제</th>
									<th class="bulk-actions" colspan="7">
										<a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
									</th>
								</tr>
							</thead>
						<tbody>
						<th:block th:if="${not #lists.isEmpty(adPriceList)}" th:each="l : ${adPriceList}">
							<tr class="even pointer">
								<td class="a-center ">
									<input type="checkbox" class="flat" name="table_records">
								</td>
								<td th:text="${l.adPriceCode}"></td>
								<td th:text="${l.adCate}"></td>
								<td th:text="${l.adPricePerDay}"></td>
								<td th:text="${l.memberId}"></td>
								<td th:text="${l.entryTime}"></td>
								<td class=" "><a th:href="@{/advertisement/modifyAdPrice(adPriceCode=${l.adPriceCode})}"><input type="button" value="수정"></a></td>
								<td class=" "><a th:href="@{/advertisement/removeAdPrice}">삭제</a></td>
							</tr>
						</th:block>
						</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</th:block>
</html>