<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
	<!-- 사용자 정의 title -->
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>
	
	<th:block layout:fragment="customCss">
		<!-- iCheck -->
		<link th:href="@{/vendors/iCheck/skins/flat/green.css}" rel="stylesheet">
	</th:block>
	<th:block layout:fragment="customJsScript">
		<!-- iCheck -->
    	<script th:src="@{/vendors/iCheck/icheck.min.js}"></script>
	</th:block>
	<!-- 사용자 정의 Script-->
	<th:block layout:fragment="customScript">
	</th:block>	
	<th:block layout:fragment="customContents">
	<div class="container row" style="float: none; margin:100 auto;">
		<div class="col-md-6" style="float: none; margin:0 auto;">
							<div class="x_panel">
								<div class="x_title">
									<h2>결제 정보 수정<small>correction of payment information</small></h2>
									<div class="clearfix"></div>
								</div>
								<div class="x_content">
									<br />
									<form class="form-horizontal form-label-left">

										<div class="form-group row add-member">
											<label class="control-label col-md-2 col-sm-2 ">결제코드</label>
											<div class="col-md-9 col-sm-9 ">
												<input type="text" class="form-control" value="payment_complete_001" readonly="readonly">
											</div>
										</div>
										<div class="form-group row add-member">
											<label class="control-label col-md-2 col-sm-2 ">상품명</label>
											<div class="col-md-9 col-sm-9 ">
												<input type="text" class="form-control" placeholder="상품명 수정">
											</div>
										</div>
										<div class="form-group row add-member">
											<label class="control-label col-md-2 col-sm-2 ">아이디</label>
											<div class="col-md-9 col-sm-9 ">
												<input type="text" class="form-control" value="id001" readonly="readonly">
											</div>
										</div>
										<div class="form-group row add-member">
											<label class="control-label col-md-2 col-sm-2">결제수량
											</label>
											<div class="col-md-9 col-sm-9 ">
												<input type="number" class="form-control" placeholder="결제수량 수정">
											</div>
										</div>
										<div class="form-group row add-member">
											<label class="control-label col-md-2 col-sm-2">결제금액</label>
											<div class="col-md-9 col-sm-9 ">
												<input type="number" class="form-control" placeholder="결제금액 수정">
											</div>
										</div>
										<div class="form-group row add-member">
											<label class="control-label col-md-2 col-sm-2">사용포인트</label>
											<div class="col-md-9 col-sm-9 ">
												<input type="number" class="form-control" placeholder="포인트 수정">
											</div>
										</div>
										<div class="form-group row add-member">
											<label class="control-label col-md-2 col-sm-2">결제수단</label>
											<div class="col-md-9 col-sm-9">
												<input type="text" class="form-control" placeholder="결제수단 수정">
											</div>
										</div>
										

										<div class="ln_solid"></div>
										<div class="form-group">
											<div class="col-md-6 col-sm-6 offset-md-3">
												<button type="button" class="btn btn-primary">취소</button>
												<button type="submit" class="btn btn-success">회원수정</button>
											</div>
										</div>

									</form>
								</div>
							</div>
						</div>
					</div>
	</th:block>
</html>