<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
	
	<!-- 사용자 정의 title -->
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>
	
	<th:block layout:fragment="customCss">
		<!-- iCheck -->
		<link th:href="@{/vendors/iCheck/skins/flat/green.css}" rel="stylesheet">
		<!-- datepicker -->
		<link th:href="@{/build/css/datepicker.css}" rel="stylesheet">
	</th:block>
	
	<th:block layout:fragment="customJsScript">
		<!-- iCheck -->
    	<script th:src="@{/vendors/iCheck/icheck.min.js}"></script>
    	<!-- 제이쿼리 ui js -->
	   	<script th:src="@{https://code.jquery.com/ui/1.12.1/jquery-ui.js}"></script>
	   	<!-- searchDate -->
		<script th:src="@{/vendors/jquery/dist/searchDate.js}"></script>
	</th:block>
	
	<!-- 사용자 정의 Script-->
	<th:block layout:fragment="customScript">
	</th:block>	
	
	<th:block layout:fragment="customContents">
		
		<div class="col-md-12 col-sm-12 mt-5">
			<div class="x_panel">
				<div class="x_title">
					<h2>주문 취소 내역</h2>
					<div class="clearfix"></div>
				</div>
				
				<div class="x_content">
					<!-- START : 검색 바 -->
					<div th:include="member/searchDate :: searchDateFragment"></div>
					<!-- END : 검색 바 -->
					<div class="mb-2">
						<label>결제수단</label>
						<div class="btn-group" data-toggle="buttons">
							<label class="btn btn-default active">
								<input type="checkbox" name="options" id="option1" checked> 신용카드
							</label>
							<label class="btn btn-default">
								<input type="checkbox" name="options" id="option2"> 무통장입금
							</label>
							<label class="btn btn-default">
								<input type="checkbox" name="options" id="option3"> 휴대폰
							</label>
						</div>
					</div>
					<div class="form-row mb-2">
						<div class="form-group col-md-2">
							<select id=" " class="form-control">
								<option selected> :: 선택 :: </option>
								<option>주문취소코드</option>
								<option>상품명</option>
								<option>아이디</option>
							</select>
						</div>
						<div class="form-group col-md-4">
							<input type="text" class="form-control" name="searchValue" placeholder="Search"
							aria-label="Text input with dropdown button">
						</div>
						<div class="form-group col-md-6">
							<button type="button" class="btn btn-primary" style="float: right;">초기화</button>
							<button type="button" class="btn btn-primary" style="float: right;">검색</button>
						</div>
					</div>
					<div class="table-responsive">
						<div class="clearfix">
	                        <div class="float-left">
	                            <span>Total : </span>
	                        </div>
							<div class="float-right pr-2">
	                            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal">삭제</button>
	                        </div>
						</div>
						<table class="table table-striped jambo_table bulk_action">
							<thead>
								<tr class="headings">
									<th>
										<input type="checkbox" id="check-all" class="flat">
									</th>
									<th class="column-title">주문취소코드</th>
									<th class="column-title">상품명</th>
									<th class="column-title">아이디</th>
									<th class="column-title">취소 수량</th>
									<th class="column-title ">취소 금액</th>
									<th class="column-title">취소 일자</th>
									<th class="column-title">상세조회</th>
									<th class="bulk-actions" colspan="7">
										<a class="antoo" style="color:#fff; font-weight:500;">전체 선택 ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr class="even pointer" th:if="${not #lists.isEmpty(orderCancelInfo)}" th:each="l : ${orderCancelInfo}">
									<td class="a-center">
										<input type="checkbox" class="flat" name="table_records">
									</td>
									<td th:text="${l.orderCancelCode}"></td>
									<td th:text="${l.goods.goodsRefurbName}"></td>
									<td th:text="${l.memberId}"></td>
									<td th:text="${l.cancelCount}"></td>
									<td th:text="${l.cancelPrice}"></td>
									<td th:text="${l.cancelRequestDate}"></td>
										<td>
									<a th:href="@{/payment/goodsOrderCancelDetail(orderCancelCode=${l.orderCancelCode})}"><button type="button">상세조회</button></a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="ln_solid"></div>
					<nav aria-label="Page navigation example">
						<ul class="pagination justify-content-center">
							<li class="page-item disabled">
								<a class="page-link" href="#" tabindex="-1">Previous</a>
							</li>
							<li class="page-item"><a class="page-link" href="#">1</a></li>
							<li class="page-item"><a class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
							<li class="page-item">
								<a class="page-link" href="#">Next</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>	
		</div>
	</th:block>
