<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<!-- 사용자 정의 title -->
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>
	
	<!-- 사용자 정의 Css -->
	<th:block layout:fragment="customCss"></th:block>

	<!-- 사용자 정의 JsScript 파일-->
	<th:block layout:fragment="customJsScript"></th:block>

	<!-- 사용자 정의 Script-->
	<th:block layout:fragment="customScript"></th:block>
	<th:block layout:fragment="customContents">

		<div class="col-md-12 col-sm-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>
						주문 취소 상세 정보<small>Order Cancellation Details</small>
					</h2>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<form class="form-horizontal form-label-left">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th scope="col" style="width: 10%;">#</th>
									<th scope="col">주문 취소 관리</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">주문 취소 상품 사진</th>
									<td>
										<div class="form-group row">
											<div class="col-md-3 col-sm-3">
												<img th:src="@{/build/images/orange.jpg}" class="img-fluid"
													alt="Responsive image">
											</div>
											<div class="col-md-6 col-sm-6 ">
												<input type="file">
											</div>
										</div>
										<div class="form-group row">
											<div class="col-md-2 col-sm-2">
												<label class="control-label"> 상품 대분류 명</label>
											</div>
											<div class="col-md-6 col-sm-6 ">
												<select id=" " class="form-control text-center">
											        <option selected> :: 선택 :: </option>
											        <option>option</option>
											        <option>option</option>
											        <option>option</option>
										      </select>
											</div>
										</div>
										<div class="form-group row">
											<div class="col-md-2 col-sm-2">
												<label class="control-label">상품 소분류 명</label>
											</div>
											<div class="col-md-6 col-sm-6 ">
												<select id=" " class="form-control text-center">
											        <option selected> :: 선택 :: </option>
											        <option>option</option>
											        <option>option</option>
											        <option>option</option>
										      </select>
											</div>
										</div>
										<div class="form-group row">
											<div class="col-md-2 col-sm-2">
												<label class="control-label">상품명</label>
											</div>
											<div class="col-md-6 col-sm-6 ">
												<input type="text" class="form-control"
														value="지수네 오렌지" readonly="readonly">
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">주문 취소 정보</th>
									<td>
										<div class="form-group row">
											<div class="col-md-2 col-sm-2">
												<label class="control-label">아이디</label>
											</div>
											<div class="col-md-6 col-sm-6 ">
												<input type="text" class="form-control"
														value="id001" readonly="readonly">
													
											</div>
										</div>
										<div class="form-group row">
											<div class="col-md-2 col-sm-2">
												<label class="control-label">취소 사유</label>
											</div>
											<div class="col-md-6 col-sm-6 ">
												<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
											</div>
										</div>
										
										<div class="form-group row">
											<div class="col-md-2 col-sm-2">
												<label class="control-label">취소 수량</label>
											</div>
											<div class="col-md-6 col-sm-6 ">
												<input type="number" class="form-control">
											</div>
										</div>
										
										<div class="form-group row">
											<div class="col-md-2 col-sm-2">
												<label class="control-label">취소 금액</label>
											</div>
											<div class="col-md-6 col-sm-6 ">
												<input type="number" class="form-control">
											</div>
										</div>
										
										<div class="form-group row">
											<div class="col-md-2 col-sm-2">
												<label class="control-label">취소 포인트 금액</label>
											</div>
											<div class="col-md-6 col-sm-6 ">
												<input type="number" class="form-control">
											</div>
										</div>
										
										<div class="form-group row">
											<div class="col-md-2 col-sm-2">
												<label class="control-label">취소 날짜</label>
											</div>
											<div class="col-md-6 col-sm-6 ">
												<input type="date" class="form-control">
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="ln_solid"></div>
						<div class="form-group">
							<div class="col-md-8 col-sm-8  offset-md-4">
								<button type="button" class="btn btn-primary">취소</button>
								<button type="reset" class="btn btn-danger">삭제</button>
								<button type="submit" class="btn btn-success">수정</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</th:block>
</html>