<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
	
	<!-- 사용자 정의 title -->
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>
	
	<!-- 사용자 정의 Css -->
	<th:block layout:fragment="customCss"></th:block>

	<!-- 사용자 정의 JsScript 파일-->
	<th:block layout:fragment="customJsScript"></th:block>

	<!-- 사용자 정의 Script-->
	<th:block layout:fragment="customScript">
		<script>
		$(function(){
			$('#modifyButton').click(function(){
				$('input').attr("readonly",false);
				$('#memberId').attr("readonly",true);
				$('select').attr("disabled",false);
				$('textarea').attr("readonly",false);
			});
		});
		</script>
	</th:block>
	<th:block layout:fragment="customContents">
		<div class="col-md-12 col-sm-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>주문 취소 상세 정보<small>Order Cancellation Details</small></h2>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<form class="form-horizontal form-label-left">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th scope="col" style="width: 10%;">#</th>
									<th scope="col">상품 교환 관리</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">상품 교환 상품 사진</th>
									<td>
										<div class="form-group row">
											<div class="col-md-3 col-sm-3">
												<img th:src="@{/build/images/orange.jpg}" class="img-fluid" alt="Responsive image">
											</div>
											<div class="col-md-6 col-sm-6 ">
												<input type="file">
											</div>
										</div>
										<div class="form-group row">
											<div class="col-md-2 col-sm-2">
												<label class="control-label" for="goods.goodsRefurbName">상품명</label>
											</div>
											<div class="col-md-6 col-sm-6 ">
												<input type="text" class="form-control" name="goods.goodsRefurbName" th:value="${goodsExchange.goods.goodsRefurbName}" readonly="readonly">
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">상품 교환 정보</th>
									<td>
										<div class="form-group row">
											<div class="col-md-2 col-sm-2">
												<label class="control-label" for="goodsExchangeCode">상품교환코드</label>
											</div>
											<div class="col-md-6 col-sm-6 ">
												<input type="text" class="form-control" name="goodsExchangeCode" th:value="${goodsExchange.goodsExchangeCode}" readonly="readonly">
											</div>
										</div>
										<div class="form-group row">
											<div class="col-md-2 col-sm-2">
												<label class="control-label" for="memberId">아이디</label>
											</div>
											<div class="col-md-6 col-sm-6 ">
												<input type="text" class="form-control" name="memberId" th:value="${goodsExchange.memberId}" readonly="readonly">
											</div>
										</div>
										<div class="form-group row">
											<div class="col-md-2 col-sm-2">
												<label class="control-label" for="exchangeReasonContent">교환 사유</label>
											</div>
											<div class="col-md-6 col-sm-6 ">
												<textarea cols="30" class="form-control" name="exchangeReasonContent" id="exampleFormControlTextarea1" rows="3" readonly="readonly">[[${goodsExchange.exchangeReasonContent}]]</textarea>
											</div>
										</div>
										<div class="form-group row">
											<div class="col-md-2 col-sm-2">
												<label class="control-label" for="exchangeCount">교환 수량</label>
											</div>
											<div class="col-md-6 col-sm-6 ">
												<input type="number" class="form-control" name="exchangeCount" th:value="${goodsExchange.exchangeCount}" readonly="readonly">
											</div>
										</div>
										<div class="form-group row">
											<div class="col-md-2 col-sm-2">
												<label class="control-label">교환 처리 상태</label>
											</div>
											<div class="col-md-6 col-sm-6 ">
												<select class="form-control text-center" name="exchangeProcessState" th:value="${goodsExchange.exchangeProcessState}" disabled="disabled">
													<option selected> :: 선택 :: </option>
													<option th:selected="${goodsExchange.exchangeProcessState == '미승인'}">미승인</option>
													<option th:selected="${goodsExchange.exchangeProcessState == '처리중'}">처리중</option>
													<option th:selected="${goodsExchange.exchangeProcessState == '완료'}">완료</option>
													<option th:selected="${goodsExchange.exchangeProcessState == '거절'}">거절</option>
												</select>
											</div>
										</div>
										<div class="form-group row">
											<div class="col-md-2 col-sm-2">
												<label class="control-label" for="exchangeRequestDate">교환 신청 일자</label>
											</div>
											<div class="col-md-6 col-sm-6 ">
												<input type="datetime" class="form-control" name="exchangeRequestDate" th:value="${goodsExchange.exchangeRequestDate}" readonly="readonly">
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="ln_solid"></div>
						<div class="form-group">
							<div class="col-md-8 col-sm-8  offset-md-4">
								<button type="button" class="btn btn-primary">취소</button>
								<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">삭제</button>
								<button type="button" class="btn btn-success" id="modifyButton">수정</button>
								<button type="submit" class="btn btn-info">저장</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</th:block>
</html>