<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<!-- 사용자 정의 title -->
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>
	
	<!-- 사용자 정의 Css -->
	<th:block layout:fragment="customCss"></th:block>

	<!-- 사용자 정의 JsScript 파일-->
	<th:block layout:fragment="customJsScript"></th:block>

	<!-- 사용자 정의 Script-->
	<th:block layout:fragment="customScript">
		<script>
			$(function(){
				$('#modifyButton').click(function(){
					$('input').attr("readonly",false);
					$('#memberId').attr("readonly",true);
					$('select').attr("disabled",false);
					$('textarea').attr("readonly",false);
				});
			});
		</script>
	</th:block>
	<th:block layout:fragment="customContents">

		<div class="col-md-12 col-sm-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>
						주문 취소 상세 정보<small>Order Cancellation Details</small>
					</h2>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<form class="form-horizontal form-label-left">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th scope="col" style="width: 10%;">#</th>
									<th scope="col">주문 취소 관리</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">주문 취소 상품 사진</th>
									<td>
										<div class="form-group row">
											<div class="col-md-3 col-sm-3">
												<img th:src="@{/build/images/orange.jpg}" class="img-fluid"
													alt="Responsive image">
											</div>
											<div class="col-md-6 col-sm-6 ">
												<input type="file">
											</div>
										</div>
										<div class="form-group row">
											<div class="col-md-2 col-sm-2">
												<label class="control-label" for="goods.goodsRefurbName">상품명</label>
											</div>
											<div class="col-md-6 col-sm-6 ">
												<input type="text" class="form-control" name="goods.goodsRefurbName" th:value="${orderCancel.goods.goodsRefurbName}" readonly="readonly">
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">주문 취소 정보</th>
									<td>
										<div class="form-group row">
											<div class="col-md-2 col-sm-2">
												<label class="control-label" for="orderCancelCode">주문취소코드</label>
											</div>
											<div class="col-md-6 col-sm-6 ">
												<input type="text" class="form-control" name="orderCancelCode" th:value="${orderCancel.orderCancelCode}" readonly="readonly">
													
											</div>
										</div>
										<div class="form-group row">
											<div class="col-md-2 col-sm-2">
												<label class="control-label" for="memberId">아이디</label>
											</div>
											<div class="col-md-6 col-sm-6 ">
												<input type="text" class="form-control" name="memberId" th:value="${orderCancel.memberId}" readonly="readonly">
													
											</div>
										</div>
										<div class="form-group row">
											<div class="col-md-2 col-sm-2">
												<label class="control-label" for="cancelReasonContent">취소 사유</label>
											</div>
											<div class="col-md-6 col-sm-6 ">
												<textarea cols="30" rows="3" class="form-control" name="cancelReasonContent" readonly="readonly">[[${orderCancel.cancelReasonContent}]]</textarea>
											</div>
										</div>
										
										<div class="form-group row">
											<div class="col-md-2 col-sm-2">
												<label class="control-label" for="cancelCount">취소 수량</label>
											</div>
											<div class="col-md-6 col-sm-6 ">
												<input type="number" class="form-control" name="cancelCount" th:value="${orderCancel.cancelCount}" readonly="readonly">
											</div>
										</div>
										
										<div class="form-group row">
											<div class="col-md-2 col-sm-2">
												<label class="control-label" for="cancelPrice">취소 금액</label>
											</div>
											<div class="col-md-6 col-sm-6 ">
												<input type="number" class="form-control" name="cancelPrice" th:value="${orderCancel.cancelPrice}" readonly="readonly">
											</div>
										</div>
										<div class="form-group row">
											<div class="col-md-2 col-sm-2">
												<label class="control-label" for="cancelRequestDate">취소 날짜</label>
											</div>
											<div class="col-md-6 col-sm-6 ">
												<input type="datetime" class="form-control" name="cancelRequestDate" th:value="${orderCancel.cancelRequestDate}" readonly="readonly">
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="ln_solid"></div>
							<div class="form-group">
								<div class="col-md-8 col-sm-8  offset-md-4">
								<button type="button" class="btn btn-primary">취소</button>
								<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">삭제</button>
								<button type="button" class="btn btn-success" id="modifyButton">수정</button>
								<button type="submit" class="btn btn-info">저장</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</th:block>
</html>