<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
	
	<!-- 사용자 정의 title -->
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>
	
	<th:block layout:fragment="customCss">
		<!-- iCheck -->
		<link th:href="@{/vendors/iCheck/skins/flat/green.css}" rel="stylesheet">
	</th:block>
	
	<th:block layout:fragment="customJsScript">
		<!-- iCheck -->
    	<script th:src="@{/vendors/iCheck/icheck.min.js}"></script>
	</th:block>
	
	<!-- 사용자 정의 Script-->
	<th:block layout:fragment="customScript">
	</th:block>	
	
	<th:block layout:fragment="customContents">
		<div class="col-md-12 col-sm-12 mt-5">
			<div class="x_panel">
				<div class="x_title">
					<h2>교환 내역</h2>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<!-- START : 검색 바 -->
					<div th:include="member/searchDate :: searchDateFragment"></div>
					<!-- END : 검색 바 -->
					<div class="mb-2">
						<label>처리상태별 조회</label>
						<div class="btn-group" data-toggle="buttons">
							<label class="btn btn-default">
								<input type="checkbox" name="options" id="option2"> 미승인
							</label>
							<label class="btn btn-default active">
								<input type="checkbox" name="options" id="option1" checked> 처리중
							</label>
							<label class="btn btn-default">
								<input type="checkbox" name="options" id="option2"> 완료
							</label>
							<label class="btn btn-default">
								<input type="checkbox" name="options" id="option3"> 거절
							</label>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-2">
							<select id=" " class="form-control">
								<option selected> :: 선택 :: </option>
								<option>상품교환코드</option>
								<option>상품명</option>
								<option>아이디</option>
								<option>교환 사유</option>
							</select>
						</div>
						<div class="form-group col-md-4">
							<input type="text" class="form-control" name="searchValue" placeholder="Search"
							aria-label="Text input with dropdown button">
						</div>
						<div class="form-group offset-md-4 col-md-2">
							<button type="button" class="btn btn-primary" style="float: right;">초기화</button>
							<button type="button" class="btn btn-primary" style="float: right;">검색</button>
						</div>
					</div>
				<div>
				</div>
					<div class="table-responsive">
						<table class="table table-striped jambo_table bulk_action">
							<thead>
								<tr class="headings">
									<th>
										<input type="checkbox" id="check-all" class="flat">
									</th>
									<th class="column-title">상품교환코드</th>
									<th class="column-title">상품명</th>
									<th class="column-title">아이디</th>
									<th class="column-title">교환 수량</th>
									<th class="column-title">처리 상태</th>
									<th class="column-title">교환 시각</th>
									<th class="column-title">상세조회</th>
									<th class="bulk-actions" colspan="7">
										<a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
									</th>
								</tr>
							</thead>
						<tbody>
							<tr class="even pointer">
								<td class="a-center">
									<input type="checkbox" class="flat" name="table_records">
								</td>
								<td>goods_exchange_001</td>
								<td>길동이네 토마토</td>
								<td>id003</td>
								<td>10개</td>
								<td>완료</td>
								<td>2022-03-22 11:30:22</td>
								<td>
									<a th:href="@{/payment/goodsExchangeDetail}"><button type="button">상세조회</button></a>
								</td>
							</tr>
							<tr class="odd pointer">
								<td class="a-center">
									<input type="checkbox" class="flat" name="table_records">
								</td>
								<td>goods_exchange_002</td>
								<td>재훈이네 바나나</td>
								<td>id004</td>
								<td>15개</td>
								<td>처리중</td>
								<td>2022-03-22 11:30:22</td>
								<td>
									<a th:href="@{/payment/goodsExchangeDetail}"><button type="button">상세조회</button></a>
								</td>
							</tr>
							<tr class="even pointer">
								<td class="a-center">
									<input type="checkbox" class="flat" name="table_records">
								</td>
								<td>goods_exchange_003</td>
								<td>지수네 딸기</td>
								<td>id001</td>
								<td>2개</td>
								<td>완료</td>
								<td>2022-03-22 11:30:22</td>
								<td>
									<a th:href="@{/payment/goodsExchangeDetail}"><button type="button">상세조회</button></a>
								</td>
							</tr>
							<tr class="odd pointer">
								<td class="a-center">
									<input type="checkbox" class="flat" name="table_records">
								</td>
								<td>goods_exchange_004</td>
								<td>유리네 곶감</td>
								<td>id003</td>
								<td>10개</td>
								<td>거절</td>
								<td>2022-03-22 11:30:22</td>
								<td>
									<a th:href="@{/payment/goodsExchangeDetail}"><button type="button">상세조회</button></a>
								</td>
							</tr>
						</tbody>
						</table>
					<div class="col-md-1 offset-md-11">
					<button type="button" class="btn btn-danger">삭제</button>
					</div>
					</div>
				<div class="ln_solid"></div>
					<nav aria-label="Page navigation example">
						<ul class="pagination justify-content-center">
							<li class="page-item disabled">
								<a class="page-link" href="#" tabindex="-1">Previous</a>
							</li>
							<li class="page-item"><a class="page-link" href="#">1</a></li>
							<li class="page-item"><a class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
							<li class="page-item">
								<a class="page-link" href="#">Next</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>	
		</div>
	</th:block>
	
	
