<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
	



	
	<!-- 사용자 정의 Css -->
	<th:block layout:fragment="customCss">
		<!-- addForm -->
	    <link th:href="@{/vendors/delivery/addForm.css}" rel="stylesheet">
	</th:block>





	<!-- 사용자 정의 Script -->
	<th:block layout:fragment="customScript">
		<!-- addForm -->
   		<script th:src="@{/vendors/delivery/js/addForm.js}"></script>
	</th:block>





	<!-- 사용자 정의 title -->
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>
	



	
	<!-- 사용자 정의 contents -->
	<th:block layout:fragment="customContents">
	
		<div class="row">
			<div class="col-sm-2"></div>
				<div class="col-sm-8 col-12 ">
					<div class="x_panel">
						<div class="x_title">
						
							<!-- START : 화면 경로
							============================== -->
							<div th:replace="fragments/titleBreadcrumb :: breadcrumbFragment"></div>
							<!-- END : 화면 경로
							============================== -->
							
						</div>
						<div class="x_content">
							<div class="checkTum">
							
								<!-- START : 유저 권한 및 정보 확인
								============================== -->
								<div th:replace="delivery/checkUserId :: checkUserFragment"></div>
								<!-- END : 유저 권한 및 정보 확인
								============================== -->
								
								<div class="cen tum">
									<button type="button" class="btn btn-primary">확인</button>
									<button type="button" class="btn btn-secondary">취소</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			<div class="col-sm-2"></div>
		</div>
		
	</th:block>
</html>