<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
	
	
	
	
	
	<!-- 사용자 정의 Css -->
	<th:block layout:fragment="customCss">
		<!-- iCheck -->
		<link th:href="@{/vendors/iCheck/skins/flat/green.css}" rel="stylesheet">
		<!-- addForm -->
	    <link th:href="@{/vendors/delivery/addForm.css}" rel="stylesheet">
	</th:block>





	<!-- 사용자 정의 Script -->
	<th:block layout:fragment="customScript">
		<!-- iCheck -->
    	<script th:src="@{/vendors/iCheck/icheck.min.js}"></script>
    	<!-- addForm -->
   		<script th:src="@{/vendors/delivery/js/addForm.js}"></script>
    </th:block>
    
    
    
    
    
	<!-- 사용자 정의 title -->
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>
	
	
	
	
	
	<!-- 사용자 정의 contents -->
	<th:block layout:fragment="customContents">
		<div class="x_panel">
			<div class="x_title">
			
				<!-- START : 화면 경로
				============================== -->
				<div th:include="delivery/deliveryBreadcrumb :: breadcrumbFragment"></div>
				<!-- END : 화면 경로
				============================== -->
				
			</div>
			
			<!-- START : 상단 검색바
			============================== -->
			<div th:replace="delivery/searchBar :: searchBarFragment"></div>
			<!-- END : 상단 검색바
			============================== -->
			
			<!-- START : 상단 검색 상세정보 
			============================== -->
			<div th:replace="delivery/searchDetail :: searchDetailFragment"></div>
			<!-- END : 상단 검색 상세정보
			============================== -->
			
			<!-- START : 회사 목록 table
			============================== -->
			<div class="tum x_content">
				<div class="table-responsive">
					<table class="cen table jambo_table bulk_action">
						<thead>
							<tr class="headings">
								<th>
									<input type="checkbox" id="check-all" class="flat">
								</th>
								<th class="column-title">회사 이름</th>
								<th class="column-title">대표자 명</th>
								<th class="column-title">회사 연락처</th>
								<th class="column-title">회사 주소</th>
								<th class="column-title">조회 하기 </th>
								<th class="bulk-actions" colspan="5">
									<a class="antoo" style="color:#fff; font-weight:500;">선택 수 : ( <span class="action-cnt"> </span> )</a>
									<a th:href="@{/}" class="btn-sm btn-danger">삭제</a>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr class="even pointer">
									<td class="a-center ">
									<input type="checkbox" class="flat" name="table_records">
								</td>
								<td class=" ">하나 배송</td>
								<td class=" ">홍길동</td>
								<td class=" ">012-345-6789</td>
								<td class=" ">전주시 덕진구 기린로 446 2층</td>
								<td class=" ">
									<a th:href="@{/}" class="btn-sm btn-info">조회</a>
								</td>
							</tr>
							
							
							
							
							
							
							
							
							
							
							
							<tr class="even pointer">
									<td class="a-center ">
									<input type="checkbox" class="flat" name="table_records">
								</td>
								<td class=" ">하나 배송</td>
								<td class=" ">홍길동</td>
								<td class=" ">012-345-6789</td>
								<td class=" ">전주시 덕진구 기린로 445 2층</td>
								<td class=" ">
									<a th:href="@{/}" class="btn-sm btn-info">조회</a>
								</td>
							</tr>
							<tr class="even pointer">
									<td class="a-center ">
									<input type="checkbox" class="flat" name="table_records">
								</td>
								<td class=" ">하나 배송</td>
								<td class=" ">홍길동</td>
								<td class=" ">012-345-6789</td>
								<td class=" ">전주시 덕진구 기린로 445 2층</td>
								<td class=" ">
									<a th:href="@{/}" class="btn-sm btn-info">조회</a>
								</td>
							</tr>
							<tr class="even pointer">
									<td class="a-center ">
									<input type="checkbox" class="flat" name="table_records">
								</td>
								<td class=" ">하나 배송</td>
								<td class=" ">홍길동</td>
								<td class=" ">012-345-6789</td>
								<td class=" ">전주시 덕진구 기린로 445 2층</td>
								<td class=" ">
									<a th:href="@{/}" class="btn-sm btn-info">조회</a>
								</td>
							</tr>
							<tr class="even pointer">
									<td class="a-center ">
									<input type="checkbox" class="flat" name="table_records">
								</td>
								<td class=" ">하나 배송</td>
								<td class=" ">홍길동</td>
								<td class=" ">012-345-6789</td>
								<td class=" ">전주시 덕진구 기린로 445 2층</td>
								<td class=" ">
									<a th:href="@{/}" class="btn-sm btn-info">조회</a>
								</td>
							</tr>
							<tr class="even pointer">
									<td class="a-center ">
									<input type="checkbox" class="flat" name="table_records">
								</td>
								<td class=" ">하나 배송</td>
								<td class=" ">홍길동</td>
								<td class=" ">012-345-6789</td>
								<td class=" ">전주시 덕진구 기린로 445 2층</td>
								<td class=" ">
									<a th:href="@{/}" class="btn-sm btn-info">조회</a>
								</td>
							</tr>
							<tr class="even pointer">
									<td class="a-center ">
									<input type="checkbox" class="flat" name="table_records">
								</td>
								<td class=" ">하나 배송</td>
								<td class=" ">홍길동</td>
								<td class=" ">012-345-6789</td>
								<td class=" ">전주시 덕진구 기린로 445 2층</td>
								<td class=" ">
									<a th:href="@{/}" class="btn-sm btn-info">조회</a>
								</td>
							</tr>
							<tr class="even pointer">
									<td class="a-center ">
									<input type="checkbox" class="flat" name="table_records">
								</td>
								<td class=" ">하나 배송</td>
								<td class=" ">홍길동</td>
								<td class=" ">012-345-6789</td>
								<td class=" ">전주시 덕진구 기린로 445 2층</td>
								<td class=" ">
									<a th:href="@{/}" class="btn-sm btn-info">조회</a>
								</td>
							</tr>
							<tr class="even pointer">
									<td class="a-center ">
									<input type="checkbox" class="flat" name="table_records">
								</td>
								<td class=" ">하나 배송</td>
								<td class=" ">홍길동</td>
								<td class=" ">012-345-6789</td>
								<td class=" ">전주시 덕진구 기린로 445 2층</td>
								<td class=" ">
									<a th:href="@{/}" class="btn-sm btn-info">조회</a>
								</td>
							</tr>
							<tr class="even pointer">
									<td class="a-center ">
									<input type="checkbox" class="flat" name="table_records">
								</td>
								<td class=" ">하나 배송</td>
								<td class=" ">홍길동</td>
								<td class=" ">012-345-6789</td>
								<td class=" ">전주시 덕진구 기린로 445 2층</td>
								<td class=" ">
									<a th:href="@{/}" class="btn-sm btn-info">조회</a>
								</td>
							</tr>
							<tr class="even pointer">
									<td class="a-center ">
									<input type="checkbox" class="flat" name="table_records">
								</td>
								<td class=" ">하나 배송</td>
								<td class=" ">홍길동</td>
								<td class=" ">012-345-6789</td>
								<td class=" ">전주시 덕진구 기린로 445 2층</td>
								<td class=" ">
									<a th:href="@{/}" class="btn-sm btn-info">조회</a>
								</td>
							</tr>
							<tr class="even pointer">
									<td class="a-center ">
									<input type="checkbox" class="flat" name="table_records">
								</td>
								<td class=" ">하나 배송</td>
								<td class=" ">홍길동</td>
								<td class=" ">012-345-6789</td>
								<td class=" ">전주시 덕진구 기린로 445 2층</td>
								<td class=" ">
									<a th:href="@{/}" class="btn-sm btn-info">조회</a>
								</td>
							</tr>
							<tr class="even pointer">
									<td class="a-center ">
									<input type="checkbox" class="flat" name="table_records">
								</td>
								<td class=" ">하나 배송</td>
								<td class=" ">홍길동</td>
								<td class=" ">012-345-6789</td>
								<td class=" ">전주시 덕진구 기린로 445 2층</td>
								<td class=" ">
									<a th:href="@{/}" class="btn-sm btn-info">조회</a>
								</td>
							</tr>
							<tr class="even pointer">
									<td class="a-center ">
									<input type="checkbox" class="flat" name="table_records">
								</td>
								<td class=" ">하나 배송</td>
								<td class=" ">홍길동</td>
								<td class=" ">012-345-6789</td>
								<td class=" ">전주시 덕진구 기린로 445 2층</td>
								<td class=" ">
									<a th:href="@{/}" class="btn-sm btn-info">조회</a>
								</td>
							</tr>
							<tr class="even pointer">
									<td class="a-center ">
									<input type="checkbox" class="flat" name="table_records">
								</td>
								<td class=" ">하나 배송</td>
								<td class=" ">홍길동</td>
								<td class=" ">012-345-6789</td>
								<td class=" ">전주시 덕진구 기린로 445 2층</td>
								<td class=" ">
									<a th:href="@{/}" class="btn-sm btn-info">조회</a>
								</td>
							</tr>
							<tr class="even pointer">
									<td class="a-center ">
									<input type="checkbox" class="flat" name="table_records">
								</td>
								<td class=" ">하나 배송</td>
								<td class=" ">홍길동</td>
								<td class=" ">012-345-6789</td>
								<td class=" ">전주시 덕진구 기린로 445 2층</td>
								<td class=" ">
									<a th:href="@{/}" class="btn-sm btn-info">조회</a>
								</td>
							</tr>
							<tr class="even pointer">
									<td class="a-center ">
									<input type="checkbox" class="flat" name="table_records">
								</td>
								<td class=" ">하나 배송</td>
								<td class=" ">홍길동</td>
								<td class=" ">012-345-6789</td>
								<td class=" ">전주시 덕진구 기린로 445 2층</td>
								<td class=" ">
									<a th:href="@{/}" class="btn-sm btn-info">조회</a>
								</td>
							</tr>
							<tr class="even pointer">
									<td class="a-center ">
									<input type="checkbox" class="flat" name="table_records">
								</td>
								<td class=" ">하나 배송</td>
								<td class=" ">홍길동</td>
								<td class=" ">012-345-6789</td>
								<td class=" ">전주시 덕진구 기린로 445 2층</td>
								<td class=" ">
									<a th:href="@{/}" class="btn-sm btn-info">조회</a>
								</td>
							</tr>
							<tr class="even pointer">
									<td class="a-center ">
									<input type="checkbox" class="flat" name="table_records">
								</td>
								<td class=" ">하나 배송</td>
								<td class=" ">홍길동</td>
								<td class=" ">012-345-6789</td>
								<td class=" ">전주시 덕진구 기린로 445 2층</td>
								<td class=" ">
									<a th:href="@{/}" class="btn-sm btn-info">조회</a>
								</td>
							</tr>
							<tr class="even pointer">
									<td class="a-center ">
									<input type="checkbox" class="flat" name="table_records">
								</td>
								<td class=" ">하나 배송</td>
								<td class=" ">홍길동</td>
								<td class=" ">012-345-6789</td>
								<td class=" ">전주시 덕진구 기린로 445 2층</td>
								<td class=" ">
									<a th:href="@{/}" class="btn-sm btn-info">조회</a>
								</td>
							</tr>
							<tr class="even pointer">
									<td class="a-center ">
									<input type="checkbox" class="flat" name="table_records">
								</td>
								<td class=" ">하나 배송</td>
								<td class=" ">홍길동</td>
								<td class=" ">012-345-6789</td>
								<td class=" ">전주시 덕진구 기린로 445 2층</td>
								<td class=" ">
									<a th:href="@{/}" class="btn-sm btn-info">조회</a>
								</td>
							</tr>
							<tr class="even pointer">
									<td class="a-center ">
									<input type="checkbox" class="flat" name="table_records">
								</td>
								<td class=" ">하나 배송</td>
								<td class=" ">홍길동</td>
								<td class=" ">012-345-6789</td>
								<td class=" ">전주시 덕진구 기린로 445 2층</td>
								<td class=" ">
									<a th:href="@{/}" class="btn-sm btn-info">조회</a>
								</td>
							</tr>
							<tr class="even pointer">
									<td class="a-center ">
									<input type="checkbox" class="flat" name="table_records">
								</td>
								<td class=" ">하나 배송</td>
								<td class=" ">홍길동</td>
								<td class=" ">012-345-6789</td>
								<td class=" ">전주시 덕진구 기린로 445 2층</td>
								<td class=" ">
									<a th:href="@{/}" class="btn-sm btn-info">조회</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- END : 회사 목록 table
			============================== -->
			
		</div>
	</th:block>
</html>