<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
	




	<!-- 사용자 정의 Css -->
	<th:block layout:fragment="customCss">
		
	</th:block>





	<!-- 사용자 정의 Script -->
	<th:block layout:fragment="customScript">
			
	</th:block>





	<!-- 사용자 정의 title -->
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>
		




	<!-- 사용자 정의 contents -->
	<th:block layout:fragment="customContents">
		
	</th:block>
</html>