<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<div th:fragment="pageButtonFragment">
		<div class="row">
			<ul id="pagination-demo" class="cen pagination-sm pagination">
				<li class="page-item first disabled">
					<a href="#" class="page-link">처음</a>
				</li>
				<li class="page-item prev disabled">
					<a href="#" class="page-link">이전</a>
				</li>
				<li class="page-item active">
					<a href="#" class="page-link">1</a>
				</li>
				<li class="page-item">
					<a href="#" class="page-link">2</a>
				</li>
				<li class="page-item">
					<a href="#" class="page-link">3</a>
				</li>
				<li class="page-item">
					<a href="#" class="page-link">4</a>
				</li>
				<li class="page-item">
					<a href="#" class="page-link">5</a>
				</li>
				<li class="page-item next">
					<a href="#" class="page-link">다음</a>
				</li>
				<li class="page-item last">
					<a href="#" class="page-link">마지막</a>
				</li>
			</ul>
		</div>
	</div>
	
</html>