<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<div th:fragment="searchBarFragment">
	
		<div class="tum cen row">
			<div class="col-sm-2"></div>
			<div class="col-sm-8 col-12 form-group pull-right top_search">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">검색</button>
					</span>
				</div>
			</div>
			<div class="col-sm-2"></div>
		</div>
		
	</div>
</html>