<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kfarmstar.admin.mapper.AdMapper">

	<resultMap type="AdPrice" id="adPriceResultMap">
		<result column="ad_price_code" 		property="adPriceCode"/>
		<result column="member_id" 			property="memberId"/>
		<result column="ad_cate" 			property="adCate"/>
		<result column="ad_price_per_day"	property="adPricePerDay"/>
		<result column="entry_time" 		property="entryTime"/>
		<result column="update_manager_id" 	property="updateManagerId"/>
		<result column="last_update_time" 	property="lastUpdateTime"/>
		<association property="member" 	javaType="Member">
			<id 	column="m_id" 		property="memberId"/>
			<result column="m_name" 	property="memberName"/>
			<result column="m_level" 	property="memberLevel"/>
			<result column="m_pw" 		property="memberPw"/>
		</association>
	</resultMap>

	<select id="getAdPriceList" resultType="AdPrice"  resultMap="adPriceResultMap">
		/* 광고 단가 목록 조회 */
		
		SELECT 
			a.ad_price_code		
			,a.ad_cate				
			,a.ad_price_per_day		
			,a.member_id			
			,a.entry_time		
		FROM 
			ad_price AS a

		ORDER BY a.ad_price_code;
	</select>
	
	<select id="getAdPriceInfoByCode" resultType="AdPrice" resultMap="adPriceResultMap">
		/* 광고 단가 코드별  상세 정보 조회 */
		SELECT 
			a.ad_price_code		
			,a.ad_cate				
			,a.ad_price_per_day		
			,a.member_id			
		FROM 
			ad_price AS a
		WHERE a.ad_price_code=#{adPriceCode};
	</select>

	<update id="modifyAdPrice" parameterType="AdPrice">
		/* 광고 단가 수정 */
		UPDATE ad_price	AS a
		SET
			a.ad_cate=#{adCate},
			a.ad_price_per_day	=	#{adPricePerDay},
			a.update_manager_id	=	#{updateManagerId},
			a.last_update_time	=	CURDATE()
		WHERE a.ad_price_code	=	#{adPriceCode};
	</update>
	
	<insert id="addAdPrice" parameterType="AdPrice">
		INSERT INTO ad_price
			(ad_price_code
			, member_id
			, ad_cate
			, ad_price_per_day
			, entry_time
			) VALUES (
				#{adPriceCode}
				, #{memberId}
				, #{adCate}
				, #{adPricePerDay}
				, CURDATE());
	</insert>

</mapper>