<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kfarmstar.admin.mapper.PaymentMapper">
	<resultMap type="AfterPayment" id="afterPaymentMap">
		<result column="payment_complete_code" 		property="paymentCompleteCode"/>
		<result column="purchaser_payment_code" 	property="purchaserPaymentCode"/>
		<result column="goods_refurb_code" 			property="goodsRefurbCode"/>
		<result column="member_id" 					property="memberId"/>
		<result column="payment_type_code" 			property="paymentTypeCode"/>
		<result column="before_goods_count" 		property="beforeGoodsCount"/>
		<result column="mid_sum_price" 				property="midSumPrice"/>
		<result column="payment_option" 			property="paymentOption"/>
		<result column="last_payment_price" 		property="lastPaymentPrice"/>
		<result column="payment_date" 				property="paymentDate"/>
		<association property="member" javaType="Member">
			<result column="member_id" 				property="memberId"/>
			<result column="member_name" 			property="memberName"/>
			<result column="member_level" 			property="memberLevel"/>
			<result column="member_pw" 				property="memberPw"/>
			<result column="member_nickname" 		property="memberNickname"/>
			<result column="member_phone" 			property="memberPhone"/>
			<result column="member_post_num" 		property="memberPostNum"/>
			<result column="member_addr" 			property="memberAddr"/>
			<result column="member_detail_addr" 	property="memberDetailAddr"/>
			<result column="member_birth" 			property="memberBirth"/>
			<result column="member_email" 			property="memberEmail"/>
			<result column="member_point" 			property="memberPoint"/>
			<result column="member_date" 			property="memberDate"/>
		</association>
		<association property="goods" javaType="Goods">
			<result column="goods_refurb_code" 			property="goodsRefurbCode"/>
			<result column="seller_store_num" 			property="sellerStoreNum"/>
			<result column="goods_large_code" 			property="goodsLargeCode"/>
			<result column="goods_small_code" 			property="goodsSmallCode"/>
			<result column="member_id" 					property="memberId"/>
			<result column="goods_large_cate" 			property="goodsLargeCate"/>
			<result column="goods_small_cate" 			property="goodsSmallCate"/>
			<result column="goods_refurb_name" 			property="goodsRefurbName"/>
			<result column="goods_normal_price" 		property="goodsNormalPrice"/>
			<result column="goods_refurb_price" 		property="goodsRefurbPrice"/>
			<result column="goods_refurb_count" 		property="goodsRefurbCount"/>
			<result column="goods_refurb_harvest_date" 	property="goodsRefurbHarvestDate"/>
			<result column="goods_refurb_organic" 		property="goodsRefurbOrganic"/>
			<result column="goods_post_explain" 		property="goodsPostExplain"/>
			<result column="goods_refurb_sell_state" 	property="goodsRefurbSellState"/>
			<result column="entry_time" 				property="entryTime"/>
		</association>
		<association property="puchaserPayment" javaType="PuchaserPayment">
			<result column="purchaser_payment_code" 	property="purchaserPaymentCode"/>
			<result column="goods_refurb_code" 			property="goodsRefurbCode"/>
			<result column="member_id" 					property="memberId"/>
			<result column="before_mid_sum_code" 		property="beforeMidSumCode"/>
			<result column="before_goods_count" 		property="beforeGoodsCount"/>
			<result column="mid_sum_price" 				property="midSumPrice"/>
			<result column="payment_option" 			property="paymentOption"/>
			<result column="delivery_postnum_addr" 		property="deliveryPostnumAddr"/>
			<result column="delivery_addr" 				property="deliveryAddr"/>
			<result column="delivery_detail_addr" 		property="deliveryDetailAddr"/>
			<result column="recipient_name" 			property="recipientName"/>
			<result column="recipient_phone" 			property="recipientPhone"/>
		</association>
		<association property="paymentType" javaType="PaymentType">
			<result column="payment_type_code" 			property="paymentTypeCode"/>
			<result column="member_id" 					property="memberId"/>
			<result column="payment_complete_code" 		property="paymentCompleteCode"/>
			<result column="payment_card_type" 			property="paymentCardType"/>
			<result column="payment_card_num" 			property="paymentCardNum"/>
			<result column="payment_account_info" 		property="paymentAccountInfo"/>
			<result column="payment_account_number" 	property="paymentAccountNumber"/>
			<result column="payment_carrier" 			property="paymentCarrier"/>
			<result column="payment_phone_num" 			property="paymentPhoneNum"/>
		</association>
	</resultMap>
	
	<resultMap type="OrderCancel" id="orderCancelMap">
		<result column="order_cancel_code" 		property="orderCancelCode"/>
		<result column="payment_complete_code" 	property="paymentCompleteCode"/>
		<result column="member_id" 				property="memberId"/>
		<result column="cancel_reason_content" 	property="cancelReasonContent"/>
		<result column="cancel_count" 			property="cancelCount"/>
		<result column="cancel_price" 			property="cancelPrice"/>
		<result column="cancel_request_date" 	property="cancelRequestDate"/>
		<association property="afterPayment" javaType="AfterPayment">
			<result column="payment_complete_code" 		property="paymentCompleteCode"/>
			<result column="purchaser_payment_code" 	property="purchaserPaymentCode"/>
			<result column="goods_refurb_code" 			property="goodsRefurbCode"/>
			<result column="member_id" 					property="memberId"/>
			<result column="payment_type_code" 			property="paymentTypeCode"/>
			<result column="before_goods_count" 		property="beforeGoodsCount"/>
			<result column="mid_sum_price" 				property="midSumPrice"/>
			<result column="payment_option" 			property="paymentOption"/>
			<result column="last_payment_price" 		property="lastPaymentPrice"/>
			<result column="payment_date" 				property="paymentDate"/>
		</association>
		<association property="member" javaType="Member">
			<result column="member_id" 				property="memberId"/>
			<result column="member_name" 			property="memberName"/>
			<result column="member_level" 			property="memberLevel"/>
			<result column="member_pw" 				property="memberPw"/>
			<result column="member_nickname" 		property="memberNickname"/>
			<result column="member_phone" 			property="memberPhone"/>
			<result column="member_post_num" 		property="memberPostNum"/>
			<result column="member_addr" 			property="memberAddr"/>
			<result column="member_detail_addr" 	property="memberDetailAddr"/>
			<result column="member_birth" 			property="memberBirth"/>
			<result column="member_email" 			property="memberEmail"/>
			<result column="member_point" 			property="memberPoint"/>
			<result column="member_date" 			property="memberDate"/>
		</association>
		<association property="goods" javaType="Goods">
			<result column="goods_refurb_code" 			property="goodsRefurbCode"/>
			<result column="seller_store_num" 			property="sellerStoreNum"/>
			<result column="goods_large_code" 			property="goodsLargeCode"/>
			<result column="goods_small_code" 			property="goodsSmallCode"/>
			<result column="member_id" 					property="memberId"/>
			<result column="goods_large_cate" 			property="goodsLargeCate"/>
			<result column="goods_small_cate" 			property="goodsSmallCate"/>
			<result column="goods_refurb_name" 			property="goodsRefurbName"/>
			<result column="goods_normal_price" 		property="goodsNormalPrice"/>
			<result column="goods_refurb_price" 		property="goodsRefurbPrice"/>
			<result column="goods_refurb_count" 		property="goodsRefurbCount"/>
			<result column="goods_refurb_harvest_date" 	property="goodsRefurbHarvestDate"/>
			<result column="goods_refurb_organic" 		property="goodsRefurbOrganic"/>
			<result column="goods_post_explain" 		property="goodsPostExplain"/>
			<result column="goods_refurb_sell_state" 	property="goodsRefurbSellState"/>
			<result column="entry_time" 				property="entryTime"/>
		</association>
	</resultMap>
	
	<resultMap type="GoodsExchange" id="goodsExchangeMap">
		<result column="goods_exchange_code" 		property="goodsExchangeCode"/>
		<result column="payment_complete_code" 		property="paymentCompleteCode"/>
		<result column="member_id" 					property="memberId"/>
		<result column="goods_refurb_code" 			property="goodsRefurbCode"/>
		<result column="exchange_reason_content" 	property="exchangeReasonContent"/>
		<result column="exchange_count" 			property="exchangeCount"/>
		<result column="exchange_request_date" 		property="exchangeRequestDate"/>
		<result column="exchange_process_state" 	property="exchangeProcessState"/>
		<association property="afterPayment" javaType="AfterPayment">
			<result column="payment_complete_code" 		property="paymentCompleteCode"/>
			<result column="purchaser_payment_code" 	property="purchaserPaymentCode"/>
			<result column="goods_refurb_code" 			property="goodsRefurbCode"/>
			<result column="member_id" 					property="memberId"/>
			<result column="payment_type_code" 			property="paymentTypeCode"/>
			<result column="before_goods_count" 		property="beforeGoodsCount"/>
			<result column="mid_sum_price" 				property="midSumPrice"/>
			<result column="payment_option" 			property="paymentOption"/>
			<result column="last_payment_price" 		property="lastPaymentPrice"/>
			<result column="payment_date" 				property="paymentDate"/>
		</association>
		<association property="member" javaType="Member">
			<result column="member_id" 				property="memberId"/>
			<result column="member_name" 			property="memberName"/>
			<result column="member_level" 			property="memberLevel"/>
			<result column="member_pw" 				property="memberPw"/>
			<result column="member_nickname" 		property="memberNickname"/>
			<result column="member_phone" 			property="memberPhone"/>
			<result column="member_post_num" 		property="memberPostNum"/>
			<result column="member_addr" 			property="memberAddr"/>
			<result column="member_detail_addr" 	property="memberDetailAddr"/>
			<result column="member_birth" 			property="memberBirth"/>
			<result column="member_email" 			property="memberEmail"/>
			<result column="member_point" 			property="memberPoint"/>
			<result column="member_date" 			property="memberDate"/>
		</association>
		<association property="goods" javaType="Goods">
			<result column="goods_refurb_code" 			property="goodsRefurbCode"/>
			<result column="seller_store_num" 			property="sellerStoreNum"/>
			<result column="goods_large_code" 			property="goodsLargeCode"/>
			<result column="goods_small_code" 			property="goodsSmallCode"/>
			<result column="member_id" 					property="memberId"/>
			<result column="goods_large_cate" 			property="goodsLargeCate"/>
			<result column="goods_small_cate" 			property="goodsSmallCate"/>
			<result column="goods_refurb_name" 			property="goodsRefurbName"/>
			<result column="goods_normal_price" 		property="goodsNormalPrice"/>
			<result column="goods_refurb_price" 		property="goodsRefurbPrice"/>
			<result column="goods_refurb_count" 		property="goodsRefurbCount"/>
			<result column="goods_refurb_harvest_date" 	property="goodsRefurbHarvestDate"/>
			<result column="goods_refurb_organic" 		property="goodsRefurbOrganic"/>
			<result column="goods_post_explain" 		property="goodsPostExplain"/>
			<result column="goods_refurb_sell_state" 	property="goodsRefurbSellState"/>
			<result column="entry_time" 				property="entryTime"/>
		</association>
	</resultMap>
	
	<resultMap type="GoodsRefund" id="goodsRefundMap">
		<result column="refund_code" 				property="refundCode"/>
		<result column="payment_complete_code" 		property="paymentCompleteCode"/>
		<result column="member_id" 					property="memberId"/>
		<result column="goods_refurb_code" 			property="goodsRefurbCode"/>
		<result column="refund_reason_content" 		property="refundReasonContent"/>
		<result column="refund_receipt_date" 		property="refundReceiptDate"/>
		<result column="refund_process_state" 		property="refundProcessState"/>
		<result column="refund_count" 				property="refundCount"/>
		<result column="refund_price" 				property="refundPrice"/>
		<association property="afterPayment" javaType="AfterPayment">
			<result column="payment_complete_code" 		property="paymentCompleteCode"/>
			<result column="purchaser_payment_code" 	property="purchaserPaymentCode"/>
			<result column="goods_refurb_code" 			property="goodsRefurbCode"/>
			<result column="member_id" 					property="memberId"/>
			<result column="payment_type_code" 			property="paymentTypeCode"/>
			<result column="before_goods_count" 		property="beforeGoodsCount"/>
			<result column="mid_sum_price" 				property="midSumPrice"/>
			<result column="payment_option" 			property="paymentOption"/>
			<result column="last_payment_price" 		property="lastPaymentPrice"/>
			<result column="payment_date" 				property="paymentDate"/>
		</association>
		<association property="member" javaType="Member">
			<result column="member_id" 				property="memberId"/>
			<result column="member_name" 			property="memberName"/>
			<result column="member_level" 			property="memberLevel"/>
			<result column="member_pw" 				property="memberPw"/>
			<result column="member_nickname" 		property="memberNickname"/>
			<result column="member_phone" 			property="memberPhone"/>
			<result column="member_post_num" 		property="memberPostNum"/>
			<result column="member_addr" 			property="memberAddr"/>
			<result column="member_detail_addr" 	property="memberDetailAddr"/>
			<result column="member_birth" 			property="memberBirth"/>
			<result column="member_email" 			property="memberEmail"/>
			<result column="member_point" 			property="memberPoint"/>
			<result column="member_date" 			property="memberDate"/>
		</association>
		<association property="goods" javaType="Goods">
			<result column="goods_refurb_code" 			property="goodsRefurbCode"/>
			<result column="seller_store_num" 			property="sellerStoreNum"/>
			<result column="goods_large_code" 			property="goodsLargeCode"/>
			<result column="goods_small_code" 			property="goodsSmallCode"/>
			<result column="member_id" 					property="memberId"/>
			<result column="goods_large_cate" 			property="goodsLargeCate"/>
			<result column="goods_small_cate" 			property="goodsSmallCate"/>
			<result column="goods_refurb_name" 			property="goodsRefurbName"/>
			<result column="goods_normal_price" 		property="goodsNormalPrice"/>
			<result column="goods_refurb_price" 		property="goodsRefurbPrice"/>
			<result column="goods_refurb_count" 		property="goodsRefurbCount"/>
			<result column="goods_refurb_harvest_date" 	property="goodsRefurbHarvestDate"/>
			<result column="goods_refurb_organic" 		property="goodsRefurbOrganic"/>
			<result column="goods_post_explain" 		property="goodsPostExplain"/>
			<result column="goods_refurb_sell_state" 	property="goodsRefurbSellState"/>
			<result column="entry_time" 				property="entryTime"/>
		</association>
	</resultMap>
	
	<select id="goodsRefundInfoByCode" parameterType="String" resultMap="goodsRefundMap">
		/* 상품 환불 코드별 상품 환불 상세 내역 조회 */
		SELECT
			 r.refund_code
			,r.payment_complete_code
			,r.member_id
			,r.goods_refurb_code
			,r.refund_reason_content
			,r.refund_process_state
			,r.refund_count
			,r.refund_price
			,r.refund_receipt_date
			,g.goods_refurb_name
		FROM
			goods_refund AS r
			INNER JOIN
			after_payment_info AS a
			ON
			r.payment_complete_code = a.payment_complete_code
			INNER JOIN
			member AS m
			ON
			r.member_id = m.member_id
			INNER JOIN
			goods_management AS g
			ON
			r.goods_refurb_code = g.goods_refurb_code
		WHERE
			r.refund_code = #{refundCode};
	</select>
	
	<select id="goodsRefundInfo" resultMap="goodsRefundMap">
		/* 상품 환불 내역 조회 */
		SELECT
			 r.refund_code
			,r.payment_complete_code
			,r.member_id
			,r.goods_refurb_code
			,r.refund_reason_content
			,r.refund_process_state
			,r.refund_count
			,r.refund_price
			,r.refund_receipt_date
			,g.goods_refurb_name
		FROM
			goods_refund AS r
			INNER JOIN
			after_payment_info AS a
			ON
			r.payment_complete_code = a.payment_complete_code
			INNER JOIN
			member AS m
			ON
			r.member_id = m.member_id
			INNER JOIN
			goods_management AS g
			ON
			r.goods_refurb_code = g.goods_refurb_code
		WHERE
			m.member_level = '구매자';
	</select>
	
	<select id="goodsExchangeInfoByCode" parameterType="String" resultMap="goodsExchangeMap">
		/* 상품 교환 코드별 상품 교환 상세 내역 조회 */
		SELECT
			 e.goods_exchange_code
			,e.payment_complete_code
			,g.goods_refurb_name
			,e.member_id
			,e.goods_refurb_code
			,e.exchange_reason_content
			,e.exchange_count
			,e.exchange_request_date
			,e.exchange_process_state
		FROM 
			goods_exchange AS e
			INNER JOIN
			after_payment_info AS a
			ON
			e.payment_complete_code = a.payment_complete_code
			INNER JOIN
			member AS m
			ON
			e.member_id = m.member_id
			INNER JOIN
			goods_management AS g
			ON
			e.goods_refurb_code = g.goods_refurb_code
		WHERE
			e.goods_exchange_code = #{goodsExchangeCode};
	</select>
	
	<select id="goodsExchangeInfo" resultMap="goodsExchangeMap">
		/* 상품 교환 내역 조회 */
		SELECT
			 e.goods_exchange_code
			,e.payment_complete_code
			,g.goods_refurb_name
			,e.member_id
			,e.goods_refurb_code
			,e.exchange_reason_content
			,e.exchange_count
			,e.exchange_request_date
			,e.exchange_process_state
		FROM 
			goods_exchange AS e
			INNER JOIN
			after_payment_info AS a
			ON
			e.payment_complete_code = a.payment_complete_code
			INNER JOIN
			member AS m
			ON
			e.member_id = m.member_id
			INNER JOIN
			goods_management AS g
			ON
			e.goods_refurb_code = g.goods_refurb_code
		WHERE
			m.member_level = '구매자';
	
	</select>
	
	<select id="orderCancelInfoByCode" parameterType="String" resultMap="orderCancelMap">
		/* 주문 취소 코드별 주문 취소 상세 내역 조회*/
		SELECT
			 o.order_cancel_code
			,o.payment_complete_code
			,o.member_id
			,o.goods_refurb_code
			,o.cancel_reason_content
			,o.cancel_count
			,o.cancel_price
			,o.cancel_request_date
			,g.goods_refurb_name
		FROM
			goods_order_cancel AS o
			INNER JOIN
			after_payment_info AS a
			ON
			o.payment_complete_code = a.payment_complete_code
			INNER JOIN
			member AS m
			ON
			o.member_id = m.member_id
			INNER JOIN
			goods_management AS g
			ON
			o.goods_refurb_code = g.goods_refurb_code
		WHERE
			o.order_cancel_code = #{orderCancelCode};
	</select>
	
	<select id="orderCancelInfo" resultMap="orderCancelMap">
		/* 주문 취소 내역 조회*/
		SELECT
			 o.order_cancel_code
			,o.payment_complete_code
			,o.member_id
			,o.goods_refurb_code
			,o.cancel_reason_content
			,o.cancel_count
			,o.cancel_price
			,o.cancel_request_date
			,g.goods_refurb_name
		FROM
			goods_order_cancel AS o
			INNER JOIN
			after_payment_info AS a
			ON
			o.payment_complete_code = a.payment_complete_code
			INNER JOIN
			member AS m
			ON
			o.member_id = m.member_id
			INNER JOIN
			goods_management AS g
			ON
			o.goods_refurb_code = g.goods_refurb_code
		WHERE
			m.member_level = '구매자';
	</select>
	
	<select id="conditionAfterPaymentList" parameterType="String" resultMap="afterPaymentMap">
		/* 조건별 결제 내역 조회*/
		SELECT
			 p.payment_complete_code
			,p.purchaser_payment_code
			,p.goods_refurb_code
			,p.member_id
			,g.goods_refurb_name
			,p.before_goods_count
			,p.mid_sum_price
			,p.payment_option
			,p.last_payment_price
			,p.payment_date
		FROM
			after_payment_info AS p
			INNER JOIN
				member AS m
			ON
			p.member_id = m.member_id
			INNER JOIN
				goods_management AS g
			ON
			p.goods_refurb_code = g.goods_refurb_code
			INNER JOIN
				before_purchaser_info AS b
			ON
			p.purchaser_payment_code = b.purchaser_payment_code
			<trim prefix="WHERE" prefixOverrides="AND |OR ">
				<if test="searchKey != null and searchKey != '' and searchValue != ''">
					AND ${searchKey} LIKE CONCAT('%', #{searchValue}, '%')
				</if>
			</trim>
			ORDER BY p.payment_complete_code;
	</select>
	
	<select id="afterPaymentInfoByCode" parameterType="String" resultMap="afterPaymentMap">
		/* 결제코드별 결제 상세 내역 조회*/
		SELECT
			 p.payment_complete_code
			,p.purchaser_payment_code
			,p.goods_refurb_code
			,p.member_id
			,g.goods_refurb_name
			,p.before_goods_count
			,p.mid_sum_price
			,p.payment_option
			,p.last_payment_price
			,b.recipient_phone
			,b.delivery_postnum_addr
			,b.delivery_addr
			,b.delivery_detail_addr
			,p.payment_date
			,t.payment_card_type
			,t.payment_card_num
			,t.payment_account_info
			,t.payment_account_number
			,t.payment_carrier
			,t.payment_phone_num
			,g.goods_refurb_name
		FROM
			after_payment_info AS p
			INNER JOIN
				member AS m
			ON
			p.member_id = m.member_id
			INNER JOIN
				goods_management AS g
			ON
			p.goods_refurb_code = g.goods_refurb_code
			INNER JOIN
				before_purchaser_info AS b
			ON
			p.purchaser_payment_code = b.purchaser_payment_code
			INNER JOIN
				type_payment_info AS t
			ON
			p.payment_type_code = t.payment_type_code
		WHERE
			p.payment_complete_code = #{paymentCompleteCode};
			
	</select>
	
	<select id="afterPaymentInfo" resultMap="afterPaymentMap">
		/* 구매자 상품 구매 내역 조회 */
		SELECT
			 p.payment_complete_code
			,p.purchaser_payment_code
			,p.goods_refurb_code
			,p.member_id
			,g.goods_refurb_name
			,p.before_goods_count
			,p.mid_sum_price
			,p.payment_option
			,p.last_payment_price
			,p.payment_date
		FROM
			after_payment_info AS p
			INNER JOIN
				member AS m
			ON
			p.member_id = m.member_id
			INNER JOIN
				goods_management AS g
			ON
			p.goods_refurb_code = g.goods_refurb_code
			INNER JOIN
				before_purchaser_info AS b
			ON
			p.purchaser_payment_code = b.purchaser_payment_code
		WHERE
			m.member_level = '구매자';
	
	
	</select>
	
</mapper>