<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
	
	<!-- 사용자 정의 title -->
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>

	<!-- 사용자 정의 Css -->
	<th:block layout:fragment="customCss">
	</th:block>
	
	<!-- 사용자 정의 JsScript 파일-->
	<th:block layout:fragment="customJsScript">
		<script th:src="@{//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js}"></script>
	</th:block>
	
	<!-- 사용자 정의 Script-->
	<th:block layout:fragment="customScript">
		<script>
		$(function(){
			$('#modifyButton').click(function(){
				$('input').attr("readonly",false);
			});
		});
		</script>
		<script>
		function searchPostNum() {
	        new daum.Postcode({
	            oncomplete: function(data) {
	            	
	            	var addr = '';
	            	var extraAddr = ''; // 참고항목 변수

	                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
	                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
	                    addr = data.roadAddress;
	                } else { // 사용자가 지번 주소를 선택했을 경우(J)
	                    addr = data.jibunAddress;
	                }
	                
	                document.getElementById('memberPostNum').value = data.zonecode;
	                document.getElementById('memberAddr').value = addr;
	                // 커서를 상세주소 필드로 이동한다.
	                document.getElementById('memberDetailAddr').focus();
	                
	            }
	        }).open();
	    }
		</script>
	</th:block>

	<th:block layout:fragment="customContents">
		<div class="col-md-12 col-sm-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>회원 상세 정보<small>member detail info</small></h2>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<form class="form-horizontal form-label-left" th:action="@{/member/detailMember}" method="post">
						<table class="table table-bordered">
							<thead>
							<tr>
								<th scope="col" style="width: 10%;">#</th>
								<th scope="col">회원관리</th>
							</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">회원 사진</th>
									<td>
										<div class="form-group row">
											<div class="col-md-3 col-sm-3">
												<img th:src="@{/build/images/picture.jpg}" class="img-fluid" alt="Responsive image">
											</div>
											<div class="col-md-6 col-sm-6 ">
												<input type="file">
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">회원 정보</th>
									<td>
										<div class="form-group row">
											<div class="col-md-2 col-sm-2">
												<label class="control-label" for="memberId">아이디</label>
											</div>
											<div class="col-md-6 col-sm-6 ">
												<input type="text" class="form-control" name="memberId" th:value="${member.memberId}" readonly="readonly">
											</div>
										</div>
										<div class="form-group row">
											<div class="col-md-2 col-sm-2">
												<label class="control-label" for="memberLevel">권한</label>
											</div>
											<div class="col-md-6 col-sm-6 ">
												<input type="text" class="form-control" name="memberLevel" th:value="${member.memberLevel}" readonly="readonly">
											</div>
										</div>
										<div class="form-group row">
											<div class="col-md-2 col-sm-2">
												<label class="control-label" for="memberName">회원이름</label>
											</div>
											<div class="col-md-6 col-sm-6 ">
												<input type="text" class="form-control" name="memberName" th:value="${member.memberName}" readonly="readonly">
											</div>
										</div>
										<div class="form-group row">
											<div class="col-md-2 col-sm-2">
												<label class="control-label" for="memberNickname">닉네임</label>
											</div>
											<div class="col-md-6 col-sm-6 ">
												<input type="text" class="form-control" name="memberNickname" th:value="${member.memberNickname}" readonly="readonly">
											</div>
										</div>
									
										<div class="form-group row">
											<div class="col-md-2 col-sm-2">
												<label class="control-label" for="memberPostNum">회원 주소</label>
											</div>
											<div class="col-md-4 col-sm-4">
												<input type="text" class="form-control" name="memberPostNum" id="memberPostNum" th:value="${member.memberPostNum}" readonly="readonly">
											</div>
											<div class="col-md-3 col-sm-3">
												<button type="button" class="btn btn-info" id="postNum" onclick="searchPostNum()">우편번호찾기</button>
											</div>
										</div>
										<div class="form-group row">
											<div class="col-md-6 offset-md-2">
												<input type="text" class="form-control" id="memberAddr" name="memberAddr"  th:value="${member.memberAddr}" readonly="readonly">
											</div>
										</div>
										<div class="form-group row">
											<div class="col-md-6 offset-md-2">
												<input type="text" class="form-control" name="memberDetailAddr" id="memberDetailAddr" th:value="${member.memberDetailAddr}" readonly="readonly">
											</div>
										</div>
										<div class="form-group row">
											<div class="col-md-2 col-sm-2">
												<label class="control-label">이메일</label>
											</div>
											<div class="col-md-6 col-sm-6">
												<input type="text" class="form-control" name="memberEmail" th:value="${member.memberEmail}" readonly="readonly">
											</div>
										</div>
										<div class="form-group row">
											<div class="col-md-2 col-sm-2">
												<label class="control-label">전화번호</label>
											</div>
											<div class="col-md-6 col-sm-6">
												<input type="text" class="form-control" name="memberPhone" th:value="${member.memberPhone}" readonly="readonly">
											</div>
										</div>
										<div class="form-group row">
											<div class="col-md-2 col-sm-2">
												<label class="control-label">보유포인트</label>
											</div>
											<div class="col-md-6 col-sm-6">
												<input type="text" class="form-control" name="memberPhone" th:value="${member.memberPoint}" readonly="readonly">
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="ln_solid"></div>
						<div class="form-group">
							<div class="col-md-8 col-sm-8  offset-md-4">
								<a th:href="@{/member/memberList}"><button type="button" class="btn btn-primary" id="cancelButton">취소</button></a>
								<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
									삭제
								</button>
								<button type="button" class="btn btn-success" id="modifyButton">수정</button>
								<button type="submit" class="btn btn-info">저장</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		
		<!-- Modal -->
		<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
		 		<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">회원 정보 삭제</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
					정말 삭제하시겠습니까?
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">취소</button>
						<button type="button" class="btn btn-danger">삭제</button>
					</div>
				</div>
			</div>
		</div>
		
	</th:block>
</html>