<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
	<!-- 사용자 정의 title -->
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>
	
	<th:block layout:fragment="customCss">
		<!-- iCheck -->
		<link th:href="@{/vendors/iCheck/skins/flat/green.css}" rel="stylesheet">
		<!-- datepicker -->
		<link th:href="@{/build/css/datepicker.css}" rel="stylesheet">
 
	</th:block>

	<th:block layout:fragment="customJsScript">
		<!-- iCheck -->
	   	<script th:src="@{/vendors/iCheck/icheck.min.js}"></script>
	   	<!-- 제이쿼리 ui js -->
	   	<script th:src="@{https://code.jquery.com/ui/1.12.1/jquery-ui.js}"></script>
	   	<!-- searchDate -->
		<script th:src="@{/vendors/jquery/dist/searchDate.js}"></script>
	</th:block>
	
	<!-- 사용자 정의 Script-->
	<th:block layout:fragment="customScript">
	</th:block>	
	
	<th:block layout:fragment="customContents">
		<div class="col-md-12 col-sm-12 mt-5">
			<div class="x_panel">
				<div class="x_title">
					<h2>회원 목록</h2>
					<div class="clearfix"></div>
				</div>
			
				<div class="x_content">
					<form id="reset_form">
						<!-- START : 검색 바 -->
						<div th:include="member/searchDate :: searchDateFragment"></div>
						<!-- END : 검색 바 -->
						<div class="mb-2">
							<div class="checkbox">
								<label>권한별 조회</label>
								<label class="btn btn-default">
									<input type="checkbox" name="options" id="option1" class="flat"> 구매자
								</label>
								<label class="btn btn-default">
									<input type="checkbox" name="options" id="option2" class="flat"> 판매자
								</label>
								<label class="btn btn-default">
									<input type="checkbox" name="options" id="option3" class="flat"> 관리자
								</label>
							</div>
						</div>
						<div class="form-row md-2">
							<div class="form-group col-md-2">
								<select id=" " class="form-control text-center">
									<option selected> :: 선택 :: </option>
									<option>아이디</option>
									<option>이름</option>
									<option>휴대폰번호</option>
									<option>생년월일</option>
								</select>
							</div>
							<div class="form-group col-md-6">
								<input type="text" class="form-control" name="searchValue" placeholder="Search"
								aria-label="Text input with dropdown button">
							</div>
							
							<div class="form-group col-md-2">
								<button type="button" class="btn btn-success" ><i class="fa fa-search"></i> 검색</button>
								<button type="reset" class="btn btn-info" id="btn_reset"><i class="fa fa-minus-circle"></i> 초기화</button>
							</div>
						</div>
					</form>
				</div>
				<div class="table-responsive">
					<div class="clearfix">
                        <div class="float-left">
                            <span>Total : </span>
                        </div>
                        <div class="float-right pr-2">
                            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal">삭제</button>
                        </div>
                    </div>	
						<table class="table table-striped jambo_table bulk_action">
							<thead>
								<tr class="headings">
									<th>
										<input type="checkbox" id="check-all" class="flat">
									</th>
									<th class="column-title">회원아이디</th>
									<th class="column-title">회원권한</th>
									<th class="column-title">회원이름</th>
									<th class="column-title">휴대폰번호</th>
									<th class="column-title">생년월일</th>
									<th class="column-title">가입일자</th>
									<th class="column-title">상세조회</th>
									<th class="bulk-actions" colspan="8">
										<a class="antoo" style="color:#fff; font-weight:500;">전체 선택 ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr class="even pointer" th:each="l : ${memberList}">
									<td class="a-center">
										<input type="checkbox" class="flat" name="table_records">
									</td>
									<td th:text="${l.memberId}"></td>
									<td th:text="${l.memberLevel}"></td>
									<td th:text="${l.memberName}"></td>
									<td th:text="${l.memberPhone}"></td>
									<td th:text="${l.memberBirth}"></td>
									<td th:text="${l.memberDate}"></td>
									<td>
										<a th:href="@{/member/detailMember}"><button type="button">상세조회</button> </a>
									</td>
								</tr>
							</tbody>
						</table>
				
				</div>
				<div class="ln_solid"></div>
				<nav aria-label="Page navigation example">
					<ul class="pagination justify-content-center">
						<li class="page-item disabled">
							<a class="page-link" href="#" tabindex="-1">Previous</a>
						</li>
						<li class="page-item"><a class="page-link" href="#">1</a></li>
						<li class="page-item"><a class="page-link" href="#">2</a></li>
						<li class="page-item"><a class="page-link" href="#">3</a></li>
						<li class="page-item">
							<a class="page-link" href="#">Next</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		
		<!-- Modal -->
		<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
		 		<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">사업장 정보 삭제</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						정말 삭제하시겠습니까?
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">취소</button>
						<button type="button" class="btn btn-danger">삭제</button>
					</div>
				</div>
			</div>
		</div>
		
	</th:block>
	
	
