<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
	
	<!-- 사용자 정의 title -->
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>
	
	<th:block layout:fragment="customCss">
	</th:block>
	
	<th:block layout:fragment="customJsScript">
	</th:block>
	
	<!-- 사용자 정의 Script-->
	<th:block layout:fragment="customScript">
	</th:block>	
	
	<th:block layout:fragment="customContents">
		<div class="col-md-12 col-sm-12 mt-5">
			<div class="x_panel">
				<div class="x_title">
					<h2>회원 등급 기준</h2>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<div class="table-responsive">
						<table class="table table-striped jambo_table bulk_action">
							<thead>
								<tr class="headings">
									<th class="column-title">등급 종류</th>
									<th class="column-title">광고 할인율</th>
									<th class="column-title">배송 단가 할인율</th>
									<th class="column-title">판매 횟수</th>
									<th class="column-title">판매 금액</th>
									<th class="column-title">별점 기준</th>
									<th class="column-title">기준 수정</th>
									<th class="column-title">기준 삭제</th>
								</tr>
							</thead>
							<tbody>
								<tr class="even pointer" th:each="l : ${sellerGradeList}">
									<td th:text="${l.gradeType}"></td>
									<td th:text="${l.sellerAdDiscount}"></td>
									<td th:text="${l.deliveryPriceDiscount}"></td>
									<td th:text="${l.sellCount}"></td>
									<td th:text="${l.sellAmount}"></td>
									<td th:text="${l.sellerStarpointStandard}"></td>
									<td>
										<a th:href="@{/member/modifySellerGrade(sellerGradeNum=${l.sellerGradeNum})}"><button type="button">수정</button></a>
									</td>
									<td>
										<a th:href="@{/member/modifySellerGrade}"><button type="button">삭제</button></a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

</th:block>