<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
	
	<!-- 사용자 정의 title -->
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>
	
	<th:block layout:fragment="customCss">
		<!-- iCheck -->
		<link th:href="@{/vendors/iCheck/skins/flat/green.css}" rel="stylesheet">
		<!-- datepicker -->
		<link th:href="@{/build/css/datepicker.css}" rel="stylesheet">
	</th:block>
	
	<th:block layout:fragment="customJsScript">
		<!-- iCheck -->
    	<script th:src="@{/vendors/iCheck/icheck.min.js}"></script>
    	<!-- 제이쿼리 ui js -->
	   	<script th:src="@{https://code.jquery.com/ui/1.12.1/jquery-ui.js}"></script>
	   	<!-- searchDate -->
		<script th:src="@{/vendors/jquery/dist/searchDate.js}"></script>
	</th:block>
	
	<!-- 사용자 정의 Script-->
	<th:block layout:fragment="customScript">
	</th:block>	
	
	<th:block layout:fragment="customContents">
		<div class="col-md-12 col-sm-12 mt-5">
			<div class="x_panel">
			<div class="x_title">
			<h2>판매자 사업장 목록</h2>
			<div class="clearfix"></div>
			</div>
			
				<div class="x_content">
					<div class="mb-2">
						<!-- START : 검색 바 -->
						<div th:include="member/searchDate :: searchDateFragment"></div>
						<!-- END : 검색 바 -->
					</div>
					<form th:action="@{/member/conditionSellerStoreList}" method="get">
						<div class="form-row">
							<div class="form-group col-md-2">
								<select name="searchKey" class="form-control text-center">
									<option value=""> :: 선택 :: </option>
									<option value="member_id">아이디</option>
									<option value="seller_store_name">사업장 이름</option>
									<option value="seller_store_addr">사업장 주소</option>
									<option value="seller_store_phone">사업장 연락처</option>
								</select>
							</div>
							<div class="form-group col-md-6">
								<input type="text" class="form-control" name="searchValue" placeholder="Search"
								aria-label="Text input with dropdown button">
							</div>
							<div class="form-group col-md-2">
								<button type="submit" class="btn btn-success" ><i class="fa fa-search"></i> 검색</button>
								<button type="reset" class="btn btn-info" id="btn_reset"><i class="fa fa-minus-circle"></i> 초기화</button>
							</div>
						</div>
					</form>
					<div class="table-responsive">
						<div class="clearfix">
							<div class="float-left">
								<span>Total : </span>
							</div>
							<div class="float-right pr-2">
								<button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal">삭제</button>
							</div>
						</div>	
						<table class="table table-striped jambo_table bulk_action">
							<thead>
								<tr class="headings">
									<th>
										<input type="checkbox" id="check-all" class="flat">
									</th>
									<th class="column-title">사업장 관리번호</th>
									<th class="column-title">판매자 아이디</th>
									<th class="column-title">사업장 이름</th>
									<th class="column-title">사업장 주소</th>
									<th class="column-title">사업장 연락처</th>
									<th class="column-title">사업장 등록날짜</th>
									<th class="column-title">상세 조회</th>
									<th class="bulk-actions" colspan="8">
										<a class="antoo" style="color:#fff; font-weight:500;">전체 선택 ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr th:if="${not #lists.isEmpty(sellerStoreList)}" th:each="l : ${sellerStoreList}" class="even pointer">
									<td class="a-center">
										<input type="checkbox" class="flat" name="table_records">
									</td>
									<td th:text="${l.sellerStoreNum}"></td>
									<td th:text="${l.memberId}"></td>
									<td th:text="${l.sellerStoreName}"></td>
									<td th:text="${l.sellerStoreAddr}"></td>
									<td th:text="${l.sellerStorePhone}"></td>
									<td th:text="${l.sellerEntryDate}"></td>
									<td>
										<a th:href="@{/member/detailSellerStoreInfo(sellerStoreNum=${l.sellerStoreNum})}"><button type="button">상세 조회</button></a>
									</td>
								</tr>
							</tbody>
						</table>
						
					</div>
					<div class="ln_solid"></div>
					<nav aria-label="Page navigation example">
						<ul class="pagination justify-content-center">
							<li class="page-item disabled">
								<a class="page-link" href="#" tabindex="-1">Previous</a>
							</li>
							<li class="page-item"><a class="page-link" href="#">1</a></li>
							<li class="page-item"><a class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
							<li class="page-item">
								<a class="page-link" href="#">Next</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
</th:block>
	
	
